[2018-01-30 10:08] DSaralaya opened #3 "Need IE 11 Support"
Currently not supporting IE11.

[2018-02-21 04:32] basst314 commented on #3
Hi @DSaralaya, sorry for the late reply.

Unfortunately IE11 doesn't support WebRTC (the standard we use to access the webcam) yet.
See compatibility matrix at: http://iswebrtcreadyyet.com/ and [developer.mozilla.org](https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia#Browser_compatibility).

As this library is supposed to be as lightweight as possible, it is an explicit go

[2018-02-21 04:32] #3 closed

[2018-02-26 09:55] mahdifantar opened #4 "Close the webcam without closing the tab ?"
i used this module and it's really helpful but i have a little problem is how to close the webcam without closing the tab. Any help please

[2018-03-10 16:44] basst314 commented on #4
Hi @mahdifantar,
what exactly are you trying to achieve?
Couldn't you just add `*ngIf="..."` to the webcam component tag?

[2018-03-10 16:59] basst314 commented on #4
Hi @mahdifantar,
I think I understand your problem. Even if you remove the webcam component with `*ngIf`, the webcam of the computer you're using is still active (mine shows a green light next to the webcam lens to indicate active use).
I'll try to look into this.

[2018-03-10 18:37] basst314 commented on #4
Hi @mahdifantar,
I just released a new version of this package: [0.1.3](https://github.com/basst314/ngx-webcam/releases). This issue has been fixed!
Cheers and thank you for using this package!

[2018-03-10 18:38] #4 closed

[2018-03-27 01:38] lexcaraig opened #7 "Build Failed."
![image](https://user-images.githubusercontent.com/15936424/37941802-9bd249f8-31a2-11e8-95af-2d3c202d8ab2.png)

Hi, i am encountering the above error. How do you resolve it? Thanks

[2018-03-27 03:12] lexcaraig commented on #7
Fix this by updgrading the angular packages.

[2018-03-27 03:12] #7 closed

[2018-03-27 03:13] lexcaraig opened #8 "Customizable size"
It would be great if we can customize the size of the camera. Like responsive of onDemand.

[2018-03-27 03:31] basst314 commented on #7
Hi @lexcaraig,
Just for the record: which angular versions did you use before/after the upgrade?

[2018-03-27 03:34] basst314 commented on #8
Do you mean by putting the webcam component in a container with predefined size, or do you mean the user should be able to resize the webcam component at runtime?

[2018-03-27 05:13] lexcaraig commented on #7
for angular packages: `^5.2.9`
cli: `1.7.3`

[2018-03-27 05:15] lexcaraig commented on #8
Well, i think the width and height should be responsive so anyone can just resize the container at runtime or not. :) Bec, I did some hook just to make it responsive.

Setting a fix size would be also nice.

[2018-03-29 15:11] PascalHonegger opened #9 "Change camera source"
I really like this component and its simplicity. I just wanted to ask if there is a way to change the active camera? As far as I can tell the current behaviour uses the "first" camera it can find, e.g. the rear camera of a smartphone. I would like to give my users the options to switch the camera, e.g. the selfie camera. To keep the ngx-webcam component simple I would recommend an observable which

[2018-04-03 20:45] basst314 commented on #9
Hi @PascalHonegger,
Thank you for the feedback. That feature is already on my roadmap. I will try to prioritize it and start working on it soon.
Cheers

[2018-04-10 07:16] brayanmcz commented on #8
@rickdroio We're you able to get your camera to resize using the code you used above?
I tried it and it did not work for me.

[2018-04-18 09:08] RoopaJain opened #10 "error in prod env"
Not able to build the code base in production environment, shows the following error

ERROR in Error during template compile of 'WebcamModule'
Function calls are not supported in decorators but '?makeDecorator' was called
in 'NgModule'
'NgModule' calls '?makeDecorator'.

When i run the angualr 5 project in dev mode, build is successful
but when i choose Prod mode command as "ng build --aot", the a

[2018-04-18 11:15] vajjaharitha commented on #10
Can't bind to 'trigger' since it isn't a known property of 'webcam'. ("

    <div>
        <webcam [ERROR ->][trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>
      <br/>
      <but"): ng:///AppModule/AppComponent.html@10:16
'webcam' is not a known element:

how to resolve these error
can you please me

[2018-04-20 15:31] davemecha opened #11 "video options as Input()"
Thaks for this great simple component. Unfortunately there is an option missing to pass video options to the camera initialization.

In my case, I want to change the capture quality of the video, to make sure my snapshots are at the best possible resolution. Therefore I want to pass the additional parameters:

`width: { ideal: 4096 }, height: { ideal: 2160 }`

Currently the resolution is fixed to

[2018-05-24 20:35] sam-lex commented on #8
If you want to make it "responsive full screen", then this will work for you.

Not sure about custom responsive solutions, you could tweak it by doing the calculations yourself if it's not too complicated.

[code]
[code]
[code]

[2018-05-28 08:15] sknopp opened #13 "angular dependency problem"
I've got a problem while using this as dependency in my Angular 6 project.
This is what occurs on running my project after a npm-command:
[code]

Angular can't deal with multiple versions of itself installed in dependencies.
For me the solution was just deleting the `@angular` folder from `node_modules/ngx-webcam/node-modules` in my project. No further issues occured since then.

[This article](ht

[2018-06-06 05:15] basst314 commented on #13
Hi @sknopp,
thanks for raising this issue. I am able to reproduce it and I'm working on a fix.
Will keep you posted!

[2018-06-06 06:02] basst314 commented on #13
Hi @sknopp,
I released a new version that should fix this issue:
https://github.com/basst314/ngx-webcam/releases/tag/0.1.5

Cheers!

[2018-06-06 06:02] #13 closed

[2018-06-06 18:48] Ikpeba4ll opened #14 "Camera not showing on mobile devices"
I can't get the camera working on mobile device.. How can i resolve that? Thank you!!

[2018-06-07 00:37] basst314 commented on #14
Hi @Ikpeba4ll,

Is the demo-page working on that phone?
https://basst314.github.io/ngx-webcam/?

Phones have to be „relatively current“ regarding their OS in order to support the required WebRTC functionality.

Cheers!

[2018-06-07 12:06] Ikpeba4ll commented on #14
The demo is working on phone but not in my app

[2018-06-07 15:12] basst314 commented on #14
Hi @Ikpeba4ll,

what happens when you load your app on the phone? Any errors?
Also, what version of ngx-webcam / Angular do you use, and how did you integrate the library into your app?

For integration and usage you may check the source code in this library, or in the explicit [demo-project](https://github.com/basst314/ngx-webcam-demo) I set up.

Let me know if that helps.

[2018-06-07 15:38] basst314 commented on #8
Hi @sam-lex,

Thanks for sharing your solution. I will try to enhance the library by providing better resizeability out-of-the-box soon.
I will leave this issue open to keep you posted!

Cheers!

[2018-06-07 15:43] basst314 commented on #9
Hi @PascalHonegger,

Thanks for your patience on this. Finally I have a little more time to work on this project, so I‘ll also try to address this issue.

I already looked into it, but it seems like the WebRTC/UserMedia interface doesn‘t provide information regarding available devices and their details like front-/back-facing.
But I‘ll spend some more time on it, as this is a really good enhanceme

[2018-06-07 15:46] basst314 commented on #10
Hi @RoopaJain,

is this issue still reproducable on your end?
I just tried `ng build --aot` on the demo-project and another project using the library and it builds successfully.

Which version of ngx-webcam and Angular are you using? Can you try with the latest version of ngx-webcam?

[2018-06-07 15:50] basst314 commented on #11
Hi @davemecha,
thanks for raising this issue. #9 also goes into the same direction of passing more parameters for the webcam. I will try to address this soon.
Will keep you posted.

[2018-06-08 09:35] Ikpeba4ll commented on #14
There is no error.. ngx-webcam version is 0.1.5 and angular is 5.2

[2018-06-08 15:32] basst314 commented on #14
Actually, there‘s nothing extra that needs to be done for it to run on a capable mobile device.

If the demo page works for you, your phone is current enough to support WebRTC. The library in your app should work as well.

Please check that the app and webcam is working when you access it with your desktop pc, and nothing else in the app is failing on the mobile device. Try to create a minimal run

[2018-06-08 20:10] Ikpeba4ll commented on #14
My phone does not request permission to access the camera...

On Friday, 8 June 2018, basst314 <notifications@github.com> wrote:

[2018-06-11 07:50] basst314 commented on #9
Hi @PascalHonegger,

I was able to resolve this issue and released a [new version](https://github.com/basst314/ngx-webcam/releases/tag/0.1.6) of this library which enables users and developers to switch between available webcams.

Happy coding!

[2018-06-11 07:50] #9 closed

[2018-06-11 07:54] basst314 commented on #11
Hi @davemecha,

I released a [new version](https://github.com/basst314/ngx-webcam/releases/tag/0.1.6) of this library with a new feature to pass custom videoOptions to the webcam component. You should be able to specify your preferred resolutions with this feature now. The parameter you want to use is `videoOptions`.

Happy coding!

[2018-06-11 07:54] #11 closed

[2018-06-11 08:30] basst314 opened #15 "Demo-Page broken on mobile device"
Version 0.1.6 slightly changed how media tracks are requested from the browser API.

A bug, introduced with this release prevents the demo-page from working on at least one of my mobile devices.
Will look into it and keep everyone here updated.

[2018-06-11 08:49] basst314 commented on #15
Issue fixed. An overrestrictive/mismatching mediaTrackConstraint on the demo paged resulted in 0 matching video tracks on the device. I removed those constraints from the demo-page to resolve the issue.

[2018-06-11 08:49] #15 closed

[2018-06-12 15:47] basst314 commented on #10
Hi @RoopaJain,

I‘m closing this issue, as I haven‘t heard back from you and as there have already been new versions of ngx-webcam released in the meantime. So, please try again with the latest version.
If you‘re still experiencing errors, please feel free to open a new issue.

Thanks!

[2018-06-12 15:47] #10 closed

[2018-06-18 11:47] Ikpeba4ll commented on #14
Hello team,
I have noticed that the camera doesn't work on other devices and not only mobile phones.. How can I resolve this

[2018-06-18 12:08] Ikpeba4ll commented on #14
Moreover do I need a https to access it on other devices?

[2018-06-18 15:50] #14 closed

[2018-06-18 16:12] basst314 commented on #14
Were you able to resolve the issue?

[2018-06-19 11:16] Ikpeba4ll commented on #14
yes

On Mon, 18 Jun 2018 at 16:12, basst314 <notifications@github.com> wrote:

[2018-06-24 21:45] andrejm7 opened #16 "mac does not open the webcam"
Hi friend, I tested your library on mac but it did not open. Do you have a solution?

For my cell phone I also could not open the WebCam, but for the stackblitz I managed .. do you have something to indicate about this?

[2018-06-25 02:29] basst314 commented on #16
Hi @andrejm7,

Thanks for using this library. I just tested the demo page on my macbook and it works nicely.
Does the demo page work for you?
It strongly depends on the browser version you are using (and os on mobile devices).

Please try the demo page, and if it works for you, see the ngx-webcam-demo project as sample implementation.
If the demo doesn‘t work, I assume your device is not up to dat

[2018-06-25 13:09] andrejm7 commented on #16
Thanks @ basst314 for the fast return.

I'll test, but by stackblitz on my cell phone funcina and my project will not.
I practically did the same as the stackblitz. I do not know why the inconsistency.

[2018-06-25 13:09] andrejm7 commented on #16
Thanks @ basst314 for the fast return.

I'll test, but by stackblitz on my cell phone worked and my project did not.
I practically did the same as the stackblitz. I do not know why the inconsistency.

[2018-06-25 13:10] andrejm7 commented on #16
Thanks @basst314 for the fast return.

I'll test, but by stackblitz on my cell phone worked and my project did not.
I practically did the same as the stackblitz. I do not know why the inconsistency.

[2018-06-26 00:20] andrejm7 commented on #16
@basst314 The only difference is that the Stackblitz is on HTTPS and my project still this HTTP

Do you think that might be why?

[2018-06-26 15:22] basst314 commented on #16
Hi @andrejm7,

this might very well be the case. I tried to run the demo on an insecure location (http), and the webcam didn't open. I got a warning in my browser console that said:

`[Deprecation] getUserMedia() no longer works on insecure origins. To use this feature, you should consider switching your application to a secure origin, such as HTTPS. See https://goo.gl/rStTGz for more details.`

S

[2018-06-27 11:11] andrejm7 commented on #16
muito obrigado. meu projeto ainda esta em desenvolvimento.. certamente passarei para https.

obrigado.

[2018-06-27 11:12] andrejm7 commented on #16
thank you so much. My project is still under development .. I will certainly switch to https.

thank you.

[2018-06-27 11:12] andrejm7 commented on #16
thank you so much. My project is still under development .. I will certainly switch to https.

thank you.

[2018-06-27 11:12] #16 closed

[2018-07-03 10:07] mick88 opened #17 "Not working with cordova"
The component does not appera to work when wrapped in a cordova app. There's no error message in console. I need a component that works on web as well as in apk.

[2018-07-03 15:21] basst314 commented on #17
Hi @mick88,

Does your project live on github? I’d like to take a look at the integration. Could you point me to your source code?

Haven’t really worked with cordova before, but I will see what I can do.

Thanks

[2018-07-03 15:24] basst314 commented on #17
In the meantime - could you verify that no error was emitted via the `initError` event emitter?

Thanks!

[2018-07-05 06:00] basst314 commented on #17
Hi @mick88,
were you able to check the `initError` event emitter for messages?
Thanks

[2018-07-09 02:30] basst314 commented on #17
Okay, yeah at least common browsers require an https connection in order to access sensitive devices such as the camera. Might be the same in cordova if content is only served over http.

Is it possible to serve this content over https as well? Could you try if that solves your problem?

I might also be going to test this library with a cordova app if I have time to build one.  ;)
Leaving this tic

[2018-07-15 19:53] Prathik-Jain opened #18 "Circular Frame"
I would like to change the shape of `<webcam></webcam>`  to be circular - even if the photos are rectangular I want the Frame to be circular -
Tried editing `.webcam` `video` `.webcam-wrapper` I can get the result in chrome dev tools but not through code.

[2018-07-19 18:44] Prathik-Jain commented on #18
@basst314

[2018-07-24 04:16] basst314 commented on #18
Hi @Prathik-Jain,

this should be achievable with CSS I believe.
I will try and let you know as soon as possible.

Cheers

[2018-07-24 06:44] beyondtheobservableuniverse opened #19 "Not working in Firefox"
In firefox Quantum 61.0.1 missing video, but take snapshot.

![image](https://user-images.githubusercontent.com/30147726/43121357-c52285f6-8f1d-11e8-90cc-ca39d2b6aac9.png)

[2018-07-24 14:34] Prathik-Jain commented on #18
Woah! :tada: !!
It works when I change the style in my global style sheet.

Can you please explain why does it not working in a component style sheet?
Thanks @basst314

[2018-07-24 14:49] #18 closed

[2018-07-24 15:23] basst314 commented on #18
Hi @Prathik-Jain,

I'm glad to hear that it worked!

Things like this must go into the global style sheet, since Angular runs style encapsulation per component, which means that a style defined in a component css will only be applied to its own template (and never to others). For more information, see [here](https://angular.io/guide/component-styles#style-scope).

Cheers!

[2018-07-24 15:32] basst314 commented on #19
Hi @beyondtheobservableuniverse,

thanks for spotting! I will take a look at this as soon as possible!

Cheers!

[2018-08-08 10:29] rajgsdei opened #21 "This package is not working on Firefox."
I have tried to run it on Firefox 60.0.1 and 50.0.1 but it not working either of them. It's not showing the canvas and streams are not rendering.
I have used this package inside my application and this issue is now preventing us from delivering this. Can you please help me out with this ASAP.
Thanks.

![capture](https://user-images.githubusercontent.com/41296315/43832111-f38d2ae2-9b23-11e8-86d7-26

[2018-08-08 15:42] basst314 commented on #21
Hi @rajgsdei,

Thanks for using this library and sorry to hear that you‘re having troubles.

I will look into it as soon as I can (next couple of days, maybe even today).

In the meantime can you provide any more information on error messages or console output that you get? Anything tjat micht be helpful.

Thanks!

[2018-08-09 08:03] rajgsdei commented on #21
Hello @basst314,

Thanks for responding soon and yes I checked and it's working fine but there's still an issue with Firefox, it doesn't let me switch the camera. I tried it on both computer and mobile. When I try to switch camera on my computer it gives me an error in the console saying "**active device: undefined**". However it's working fine on chrome so I don't think it can be problem with my

[2018-08-09 15:42] basst314 commented on #21
Hi @rajgsdei,

While looking into the first problem yesterday I found that the root cause was that firefox seems to be more restrictive in what information it lets applications access about the active webcam stream.
The root cause for the problem was that tje video stream ratio was not present (as it is i.e. for Chrome) and had to be calculated manually.

While fixing this, I noticed as well, that

[2018-08-10 05:48] rajgsdei commented on #21
Hello @basst314,

You're right, I had noticed that as well that canvas could not be drawn on the webpage.

Anyway, I ran this command **WebcamUtil.getAvailableVideoInputs()** and I got the following response.

![ff2](https://user-images.githubusercontent.com/41296315/43940791-ead70514-9c8e-11e8-8a7f-ffcb3811a542.PNG)

Again, I ran some piece of code (In case this might be useful) and got the below

[2018-08-11 23:01] basst314 opened #22 "Firefox does not return deviceId for active device"
When the demo page of this library is run in Firefox, the active device's `deviceId` is not returned when the camera is being activated. In the console it shows `active device: undefined`.

However, `WebcamUtils.getAvailableVideoInputs()` returns the video devices with `deviceId`.

Originally raised by @rajgsdei in #21.

[2018-08-11 23:03] basst314 commented on #21
Hi @rajgsdei, to better track this, I opened a new issue: #22.
Let's continue the discussion there.

Thanks!

[2018-08-12 00:13] basst314 commented on #22
Hi @rajgsdei,

I published a new version of this library ([0.1.8](https://github.com/basst314/ngx-webcam/releases/tag/0.1.8)) that fixes this issue.
Could you please verify that in your project the deviceId is now being returned in Firefox?

Again, thanks for raising this issue.

Cheers!

[2018-08-12 00:13] #22 closed

[2018-08-12 00:14] basst314 commented on #21
Hi @rajgsdei,

please check my response in the other thread #22. I was able to resolve this issue.

Thanks!

[2018-08-13 09:49] rajgsdei commented on #22
Hi @basst314,

I will update the package and verify this issue very soon and let you know.

Thanks.

[2018-08-14 08:49] rajgsdei commented on #22
Hi @basst314,

I have checked the current package and it seems to be working fine on Firefox. That's what I needed in my application.

Thank you for taking quick action and fixing it on short notice.

Cheers!

[2018-08-14 15:07] basst314 commented on #22
Thanks @rajgsdei for verifying!
I‘m glad te issue is resolved now.

[2018-08-15 08:49] cuongnl-pnc opened #23 "Reflect webcam"
Hi.
When I use my mobile phone with front camera, it seems not my expected image, it need to be **reflected**.
How can I do this?

[2018-08-15 14:58] basst314 commented on #23
Hi @cuongnl-pnc,
Thanks for raising this. You‘re right, since most phones mirror the image horizontally, it does not correspondent to the image that is returned by the webcam. The webcam returns just the image that it sees.
I‘m not sure if that can be resolved but I will look into it in a couple of days when I have some more time.

The photos you take should be mirror-able though with any kind of

[2018-08-26 01:55] basst314 commented on #23
Hi @cuongnl-pnc,

I looked into this a little more. There are differences among browsers what information is returned about the active camera (i.e. is it user-facing or not).

During my tests I noticed, that my desktop and laptop cameras, even if they are built-in, don't reveil whether they are user-facing or not, but my smartphone did reveal it.
So I should be able to build a mechanism into the e

[2018-08-26 06:12] basst314 commented on #23
Hi @cuongnl-pnc,

I released a new version of this library ([0.2.0](https://github.com/basst314/ngx-webcam/releases)) that mirrors the webcam image horizontally when the active webcam is detected to be user-facing.
Please note that not all devices might reveal their facingMode.

I also provided a new parameter with which the mirroring can be controlled explicitly. See the documentation for details

[2018-08-26 06:12] #23 closed

[2018-09-07 19:46] bramdeba opened #25 "First camera switch results in black screen"
First camera switch always results in black screen on my mobile phone. After refreshing the page, it works perfectly. Any idea what might be causing this bug?

[2018-09-16 00:07] basst314 commented on #25
Hi @bramdeba,

please provide more details about the issue.

Thanks

[2018-09-28 05:09] basst314 commented on #25
Closing this issue because no more response from creator was received.

[2018-09-28 05:09] #25 closed

[2018-10-01 02:04] kenken64 opened #27 "not working on angular material modal"
having a blank screen.

[2018-10-02 14:37] btxtiger commented on #27
You need to toggle the camera visibility to fix it. No idea why

[2018-10-10 02:37] shoutao opened #28 "Layout out in android browser"
The layout is gone in android browser.

[2018-10-15 13:19] basst314 commented on #27
Hi @btxtiger,

Thanks for raising this. Will take a look at it as soon as I have some time.

Could you provide more information on how you use ngx-webcam and md modal together? A minimal code example that shows the issue would be best.

Thanks!

[2018-10-16 01:51] shoutao commented on #28
Hi, Sorry for not describing it clearly. I have attached two screen shots which are taken on Samsung s6 using the demo page.
![screenshot_20181016-094849](https://user-images.githubusercontent.com/11766189/46987921-d0fdef80-d128-11e8-8e93-a552adaa8501.png)
![screenshot_20181016-094836](https://user-images.githubusercontent.com/11766189/46987923-d1968600-d128-11e8-9cf3-01296d76e91a.png)

[2018-10-16 01:55] basst314 commented on #28
Hi @shoutao,
Thanks for the screenshots. I will be looking into it as soon as possible.

[2018-10-19 10:12] shaileshsakaria opened #29 "Not able to open camera on IPad and Microsfot Windows surface."
I am not able to open camera on "Ipad" and "Microsoft windows surface", getting following message.

{ "message" : "Could not start video source", "mediaStreamError" : {} }

Anyone have an idea?

[2018-10-19 14:09] basst314 commented on #29
Hi @shaileshsakaria,
could you provide the respective OS versions?
Also, do you get the same message on the demo page linked in the readme.md?
Thanks

[2018-10-19 15:11] shaileshsakaria commented on #29
@basst314

My Ipad version is 10.3.3 (14G60) - & Model - MD510HN/A - in that - the demo link also not working and yes giving below error message.

{ "message" : "enumeratedDevices() not supported." }
{ "message" : "Cannot read UserMedia from MediaDevices."}

In Windows surface - OS is Windows 10 Pro Build 10586. - Ithe demo link is working fine.  Is that issue due to below videoOptions I given?

I

[2018-10-19 15:34] basst314 commented on #29
Hi @shaileshsakaria,

Thanks for the quick response! Unfortunately your iPad does not support the required browser API (WebRTC/UserMedia). If you can update the OS (I believe somewhere around 11.0 they started supporting the Apis) it may work.

If the demo page works on the surface you have, then it supports the Apis (good news!).
However there seems to be an issue when requesting webcam access th

[2018-10-31 03:31] davidshen84 opened #30 "Return the ImageData from the Canvas context"
The `WebcamImage` object should contain the `ImageDate` from the canvas' context. So it would be easier to perform pixel-level manipulation on the captured image.

Sample: https://www.w3schools.com/tags/canvas_getimagedata.asp

[2018-10-31 15:25] basst314 commented on #30
Hi @davidshen84,

Thanks for raising this, it sounds like an interesting extension. I will read into it and provide an update on this thread soon.

Cheers!

[2018-11-01 09:07] davidshen84 commented on #30
https://davidshen84.github.io/#/webcam

Here's a simple application that makes use of this change.

*The layout doesn't work well on a small screen. *

[2018-11-08 08:47] peddikishore opened #32 "Identify if webcam is allowed by user or not"
Hi I have an issue in identifying whether the webcam permission is allowed or blocked by the user,
I did try checking with the device list but unfortunately its always coming device available, but need to find whether the user game permission or not.
Can anybody suggest, I did post my question on stackoverflow but unfortunately din't get any response. That's why  had to post it here.

Please help.

[2018-11-12 19:18] basst314 commented on #29
No reply by issue creator - closed.

[2018-11-12 19:18] #29 closed

[2018-11-24 12:02] wottpal opened #33 "Allow setting mimeType and imageQuality for `takeSnapshot`"
It would be super nice being able to set the quality of the taken screenshot (and it's mime-type).

Direct-Link to Function: https://github.com/basst314/ngx-webcam/blob/bc709625e76612337a9303f6d044358142d3b185/src/app/modules/webcam/webcam/webcam.component.ts#L193

Documentation of `toDataURL`: https://developer.mozilla.org/de/docs/Web/API/HTMLCanvasElement/toDataURL

[2018-12-02 22:20] shahumang23 opened #34 "Demoproject is not working on Safari"
When i will try to run http://localhost:4200(DemoPorject) on Safari browser at that time i got below

[Error] Trying to call getUserMedia from an insecure document.
	initWebcam (ngx-webcam.es5.js:396)
	switchToVideoInput (ngx-webcam.es5.js:325)
	(anonymous function) (ngx-webcam.es5.js:144)
	onInvoke (core.js:4948)
	run (zone.js:138)
	(anonymous function) (zone.js:858)
	onInvokeTask (core.js:4939)

[2018-12-03 11:54] shahumang23 commented on #34
Thanks :)

[2018-12-03 11:54] #34 closed

[2018-12-05 14:32] Pranay-K opened #35 "Camera Not working on iPhones"
Trying to use the DemoProject using ngx-webcam v2.0.0, which is not working.
Underneath are the captured errors

The same app is working on android devices.

[2018-12-05 16:15] basst314 commented on #35
Hi Pranay-K,

The module works on iphones, as long as the iOS is up-to-date enough. I believe iOS started around version 11 to support the required userMedia APIs.
What version of iOS are you running?
Please try to update - the webcam should work then.

Cheers!

[2018-12-06 04:44] davidshen84 commented on #30
Hi @basst314,

1. The memory size of the ImageData object should be *width * height *
4 *bytes.
I think it is a small size for desktop systems, but maybe a bit too much
for mobile systems.
2. I think that is hard to determine because it is platform dependent.
Theoretically, it only needs to copy the image, which is already in memory,
to a new memory location.

I think I can add a module level conf

[2018-12-08 06:59] davidshen84 commented on #30
Hi @basst314 ,

Instead of adding a module level configuration, I decided to add a `captureImageData` attribute to the component. It's a boolean type value and the default value is `false`. This makes sure the component is backward compatible, and the developers have instance level control of this object.

Thanks.

[2018-12-11 12:56] balazsnemeth commented on #35
It happened for me in Chrome on iOS, are you sure you used Safari? On Safari, it works fine in my app

[2018-12-11 15:35] basst314 commented on #35
Hi @balazsnemeth,

Does the demo work for you?
https://basst314.github.io/ngx-webcam/?

Please also state your iPhone + iOS version.

Thanks

[2018-12-14 16:44] basst314 commented on #35
Thanks! I’m glad you could resolve the issue!

[2018-12-14 16:44] #35 closed

[2018-12-14 16:48] basst314 commented on #33
Hi @wottpal,

Thanks for beinging this up. Sounds like a good extension to me.
I have a couple of things on my list now and I will work on them as soon as possible.
Probably during the holidays.

Thanks

[2018-12-18 15:54] wottpal commented on #33
That would be 🔥 Thanks!

[2019-01-03 18:30] frederiksen commented on #28
@shoutao try to rotate your android phone - when holding it horizontally, the web-cam component is filled correctly - when holding it normally - the web-cam component get's white boxes on the left/right sides.

[2019-01-04 21:01] maurivillegas commented on #28
Hi @basst314
I'm facing the same problem on android smarthphones, please help us, the layout works ok on Horizontal, on Vertical Im having the same problem

[2019-01-12 23:51] #30 closed

[2019-01-13 00:32] #33 closed

[2019-01-13 00:45] basst314 commented on #33
Hi @wottpal,

I'm happy to let you know that I implemented this feature. It's included in [version 0.2.1](https://github.com/basst314/ngx-webcam/releases/tag/0.2.1).

Check out the new parameters `imageType` and `imageQuality`.

Cheers!

[2019-01-13 01:03] basst314 commented on #32
Hi @peddikishore,

sorry it took a while to get back to you.

Unfortunately there's currently no 'flag' that you could just query to get this info, but if you add the webcam-component to your page and webcam initialization was not successful (i.e. due to blocked access), then an error will be emitted through the `initError` EventEmitter of the component.

Capture that error object and check for an

[2019-01-13 01:14] basst314 commented on #17
Hi @monikagupta78,

can you share your project and/or project-code?

Things to check:
* Do you serve your content over https?
* Did you check whether there are any errors in the `initError` event emitter after initialization?
* Did you allow camera access?
* Does your browser support the necessary APIs? (Validate by visiting the [demo page](https://basst314.github.io/ngx-webcam/)

Thanks

[2019-01-13 01:17] basst314 commented on #27
Hi @kenken64 and @btxtiger,

Does the issue still happen with the latest version of ngx-webcam?
If so, please provide a minimal code example that shows the issue.

Thanks

[2019-01-13 01:35] basst314 commented on #28
I can reproduce the issue on an iPhone when rotating the phone after the page was loaded. A refresh in any orientation fixes the issue. Seems to be an issue with the CSS not being applied properly because of the changing dimensions of the video element.

Looking into it...

[2019-01-13 09:20] basst314 commented on #28
Found out that apparently Android devices return the wrong aspectRatio for portrait video streams. The aspectRatio always indicates a landscape video, therefore the bounding box is calculated incorrectly and the switch-button shows up in the wrong place.

working on a fix.

[2019-01-14 06:15] basst314 commented on #28
Hi @shoutao and @frederiksen,

I'm happy to let you know that I published a fix for this issue in the current [release 0.2.2](https://github.com/basst314/ngx-webcam/releases/tag/0.2.2).

I tested the fix on all my devices (iOS+Android) and it resolved the bug!

In case something's still not working as expected, feel free to create a new issue here.

Cheers!

[2019-01-14 06:15] #28 closed

[2019-01-21 19:43] opiepj commented on #27
@basst314 can confirm this is happening, lose all state once the modal (where `<webcam></webcam>` resides in) closes.

[2019-01-23 17:56] opiepj commented on #27
@basst314 I found a workaround, since the streams close if the <webcam> directive is no longer rendered, I had to pass create another stream that saved webcam data into a reference before closing.

Think it's your `OnDestroy` method, but maybe this is a valid design.

[2019-02-06 03:59] OrangeDrangon opened #37 "Does this work in PWAs"

[2019-02-06 06:34] basst314 commented on #37
Hi @OrangeDrangon,

Please be more specific what you mean.

Did you encounter any issues?
If so, please provide more information and/or a minimal code sample that reproduces the issue.

Thanks

[2019-02-06 18:37] OrangeDrangon commented on #37
Upon testing in IOS. Havent tried in Android. It does not request permission to use the camera in pwa form. I do not know if this is on your end or something with my manifest.json as I am new to PWAs. It works if I am using it in Safari

[2019-02-06 20:36] OrangeDrangon commented on #37
That wasn't coherent English let me explain. Your outstanding plugin works every where I have tested it except for on IOS after I add it to the home screen.  I was wondering if this was on your end or mine. Or just the platform in general. My guess is that it is IOS but I was just curious. I will get my code on GitHub in the upcoming hours

[2019-02-06 22:42] basst314 commented on #37
The ngx-webcam plugin works on iOS, as long as the OS is up-to-date enough. I believe Apple added the required APIs in iOS >=11.

Please verify that your iOS device is running the latest OS version.

Thanks

[2019-02-06 23:03] OrangeDrangon commented on #37
I am running Ios 12 it only does not work when I add the app to the home screen if that makes sense. And in the main browser it works

[2019-02-07 08:04] basst314 commented on #37
I tried it with the demo page that is linked in the readme. I did the following:
* opened the demo link on the iPhone in safari
* added the web page to the home screen
* closed safari
* opened the home-screen bookmark
* safari opened and asked for webcam permissions
* after clicking „allow“ the webcam was shown successfully

Please verify the steps yourself. Launching the same url in the same brow

[2019-02-07 13:57] OrangeDrangon commented on #37
This problems occurs when I have an app `manifest.json`  and a `service-worker.js` making it a PWA. After further research I believe this is a limitation of PWAs on Apple's end. Here is an example so you can mess around with it.

[Repo](https://github.com/OrangeDrangon/PWA-Snapchat)
[Website](https://orangedrangon.github.io/PWA-Snapchat/)

This PWA was not working when added to home screen on IOS

[2019-02-07 17:16] basst314 commented on #37
I noticed that when adding your website to the home screen, iOS doesn‘t save the whole URL but just the base url.

This
https://orangedrangon.github.io/PWA-Snapchat/

Becomes this link on the homescreen:
https://orangedrangon.github.io/

When opening from the home screen it says that there‘s no webpage under this address, because the path information is not preserved.
That may be the issue.

You c

[2019-02-07 17:53] #37 closed

[2019-02-13 02:04] NTXAggie opened #38 "Record Video"
Would it be possible to start/stop video recording then save it as .mp4 or something similar?

[2019-02-15 19:09] basst314 commented on #8
Closing this issue, current resizing capabilities should be sufficient for now

[2019-02-15 19:09] #8 closed

[2019-02-15 19:10] basst314 commented on #17
No reply from requester, closing this issue.

[2019-02-15 19:10] #17 closed

[2019-02-15 19:14] basst314 commented on #27
Not exactly sure what you mean by that, but generally speaking the streams should be closed onDestroy. We don‘t want webcams to stay active if the component is not used anymore.

If you’re still experiencing issues, please provide a minimal code example in a new issue; closing this one.

Thanks

[2019-02-15 19:14] #27 closed

[2019-02-15 19:19] basst314 commented on #38
Hi @NTXAggie,

Thanks for raising this. So far this feature is not supported but I‘d like to research a little bit to see if I could add it.

I‘ll leave this issue open for now to keep you posted.

Thanks

[2019-02-15 19:37] NTXAggie commented on #38
Thank you, from my research you would be a great solution for one of our needs. For now we are going with Uppy.io which is overkill IMO just to record video.

[2019-02-26 00:04] kabilya opened #39 "Error in production build"
Thank you for this awesome library.
I was about to do a production build (AOT) of our app
but getting meta data error saying I have version 4 and expected was 3.

I'm using Angular 4.4.6  version and I thought this is compatible.

Thanks.

[2019-02-26 01:29] basst314 commented on #39
Hi @kabilya,

Can you share some more information about the issue you‘re experiencing?
* what version of ngx-webcam are you using?
* what version of angular?
* what‘s the exact error message?
* do you have a minimal eyample to reproduce?

Thanks!

[2019-03-01 18:03] Kromas opened #40 "Last version in firefox/safari"
0.2.0 and above not working

[2019-03-03 21:33] u77171 opened #41 "Question - Turn camera off"
I was wondering if there is a way to turn the camera off after you are done using it.

[2019-03-11 01:51] clvs7-gh opened #42 "LICENSE file is missing"
Hello.

I like your library, so I want to use this in production.
But, there is one problem; MIT license has specified into package.json, but actually LICENSE file is missing.
Considiring package.json, I think this project is MIT Licensed, but I cannot prove that without LICENSE file.
Just in case, would you please add LICENSE file?

MIT license template is here:
https://opensource.org/licenses/mi

[2019-03-11 04:02] basst314 commented on #42
Hi @clvs7-gh,

thanks for the heads-up, I added the license file.

Thanks for using this library!

Cheers

[2019-03-11 04:02] #42 closed

[2019-03-11 04:04] basst314 commented on #39
no response from requester, closing this issue.

[2019-03-11 04:04] #39 closed

[2019-03-11 04:06] basst314 commented on #41
Hi @u77171,

there's no explicit way to turn off the camera through the component. But you can always remove the component from your page after you're done. Would that work for you?

Cheers

[2019-03-11 04:10] basst314 commented on #40
Hi @Kromas,

The project-demo works fine for me in the latest FireFox v65.0.2 (64bit).

What issue are you experiencing? Please add more information about the issue (i.e. screenshots or console logs) and the device you're using (smartphone, laptop, etc.).

Thanks

[2019-03-12 08:39] ManuelSafaric opened #43 "Button Type"
Hello,

please change the Button type of triggerSnapshot(); to something like type="button".
This has cost me more time then i would like to admit. (This caused my form to submit)

Kind regards,
Manuel

[2019-03-12 16:01] queejie commented on #41
Same issue.  Can you add a button that will call something like this?
`stream.getTracks().forEach(track => track.stop())`

[2019-03-12 17:12] basst314 commented on #43
Hi @ManuelSafaric,

Could you elaborate a little bit on what you mean exactly and what issues you are experiencing?

Thanks!

[2019-03-12 17:15] basst314 commented on #41
Hi @queejie,

Could you elaborate what issue you‘re experiencing? The camera and all active tracks are shut down and closed once the element is removed from the page (i.e. render it with an ng-if).

Let me know if that helps.

Thanks!

[2019-03-12 17:18] ManuelSafaric commented on #43
The default button Type is submit, so when you use the ngx-webcam component inside a form e.g. click on the "Snanpshot" button it triggers the onSubmit Method.

[2019-03-13 15:02] basst314 commented on #43
Hi @ManuelSafaric,

the  <webcam> component does not include any button elements.

Could you share some example code maybe? Or are you referring to the demo page?

Thanks

[2019-03-13 19:38] basst314 commented on #40
Safari 12 on iOS 12.1 working fine.

@Kromas: please provide more information about what issues you‘re experiencing.

Thanks

[2019-03-13 20:52] Kromas commented on #40
Hi @basst314

Angular CLI: 6.0.8
Node: 8.11.3
Firefox: 65.0.2
From desktop

For now, im using "ngx-webcam": "0.1.8". The only problem i would like to fix is when i take a screenshot with a cellphone i got an image with more height than width and i need always something like 220px to 150px. Can i set this somewhere?

Thanks

[2019-03-14 00:39] basst314 commented on #40
Hi @Kromas,

What exactly is the issue you‘re experiencing with firefox?
I tested the live demo (see link in readme) with that ff version and it worked fine.

Could you share a minimal code example that reproduces the issue?

Thanks

[2019-03-14 00:41] basst314 commented on #40
Regarding height and width: the height/width parameter define the bounding box of the webcam preview. However the image returned after taking a screenshot will always have the resolution of the actual webcam stream and may be in landscape or portrait mode depending on the webcam/device and orientation. If you have to trim it to a specific format, you would have to do this in post processing.

[2019-03-15 16:05] Kromas commented on #40
Hi @basst314

Thanks for the answer about width/height, im going to see what i do with that.
Regarding the version problem, I reinstalled everything for the 3rd time and apparently I can use the camera with mozilla and webcam 0.2.2 =). I will check on iphone later.

Thanks!

[2019-03-15 17:06] #40 closed

[2019-03-15 18:30] basst314 commented on #40
Hi @Kromas,

Glad to hear that and thanks for confirming!

Cheers

[2019-03-25 16:38] basst314 commented on #43
No response from requester, closing.

[2019-03-25 16:38] #43 closed

[2019-03-27 04:29] franz1023dfjr opened #44 "Expose <video> element"
Hi! This library is great.

I was wondering if the `video` element could be made public. In that way i can pass it to other libraries like face-api.js

`// access video element`
`const video = this.webcam.video; `
` // pass it as input to face-api.js`
`from(faceapi.detectSingleFace(video)).subscribe((result) => { })`

It would be great rather querying the element through `document`.
Thanks.

[2019-03-29 05:21] basst314 commented on #44
Hi @franz1023dfjr,

thank you for using this library!

The idea of exposing the video element sounds interesting. I will take a look at it and the face-api lib that you mentioned.

Am I correct in the assumption that you're currently able to use a workaround by querying the element through `document`?

Cheers

[2019-03-29 17:11] franz1023dfjr commented on #44
Hi @basst314 ,

Yes. That's the lib I'm talking about and your library makes my work faster since i don't have to code setting up the camera. I greatly appreciate it.

Your assumption is correct. What I'm doing right now is:
`const video = document.querySelector('#webcam video')`

Not much of a hassle but I rather use `@ViewChild()` decorator of angular ^_^ then access its properties .

Thanks.

[2019-04-19 10:34] vamsikrishna18 commented on #8
how can we set the width for maximum screen

[2019-05-08 11:12] dadebulba opened #45 "Constraints not respected on ImageData"
Hi,
I'm using ImageData returned by the WebcamImage for doing some operations. The problem is that I set some constraints on the webcam videoOptions input but they are not respected.
Here's my code:
Html component
[code]

Ts component
[code]

Here is a function where i pass imageData object and it always log 480 x 640 as pixels dimension of the screenshot also with mobile it log 640 x 480 (because

[2019-05-08 11:17] poojas17 commented on #14
How did you resolve this issue?
webcam is triggering snaps on all browsers and their incognitos except Chrome incognito mode.

[2019-05-08 11:18] poojas17 opened #46 "webcam trigger snap not working on Chrome Incognito"
Webcam is triggering snaps on all browsers and their incognitos except Chrome incognito mode.
Demo is working fine on incognito

[2019-05-10 05:23] ahimani123 opened #47 "Unable to open selfie mode camera in iPhoneXS"
I have set all the propertied of the library "enable camera switch", "switch camera" but still I am unable to open the camera through Safari browser in iPhone XS/ iPad Air 2 in selfie mode. the back camera works fine but I am unable to open front camera by switching as well.
I am using ngx-webcam v0.2.2 and Angular 7.2.4. iOS version is 12.2.
The test link "https://basst314.github.io/ngx-webcam/?

[2019-05-10 06:04] basst314 commented on #47
Hi @ahimani123,
Thanks for using this library.
It looks like your phone and browser both support the necessary apis since you can see the back camera.

Can you see the camera switch icon in the upper right corner of the webcam view?
Also, could you share some more details/code on how you‘re using the webcam component in your app?

Thanks!

[2019-05-10 06:08] basst314 commented on #46
Hi @poojas17,

Thanks for using this lib!
What do you mean by „demo is working fine in incognito“? I thought it would not be working? Or do you just experience issues when running your own app in incognito?

Can you share some more details about what exactly is happening?

Thanks!

[2019-05-10 06:18] poojas17 commented on #46
Hi @basst314
Live demo given by ngx-webcam :https://basst314.github.io/ngx-webcam/? is working fine on my system.
The issue seems to be intermittent on my app when running on different systems specifically on Chrome Incognito. It's working fine in normal tabs and on Mozilla/Firefox and their incognito mode as well.

[2019-05-10 06:21] basst314 commented on #45
Hi @dadebulba,

Are you sure your camera provides a higher resolution than 640x480?

The constraints that you pass into the lib get passed straight on to the browser API. But since they‘re passed as „optional“ constraints, they don‘t have to be fulfilled by the browser.

You can use this tool to see what resolutions your device supports:
https://webrtchacks.github.io/WebRTC-Camera-Resolution/

Als

[2019-05-10 06:22] basst314 commented on #41
Closing since no response from requestor.

[2019-05-10 06:22] #41 closed

[2019-05-10 07:28] dadebulba commented on #45
Sorry, my bad. I was focused on the code but the resolution of my camera is 640x480

[2019-05-10 07:28] #45 closed

[2019-05-10 07:58] basst314 commented on #45
Glad we got it sorted out!

[2019-05-10 10:03] ahimani123 commented on #47
Hi

Camera switch icon is visible however, it is not working for iOS 12.2
The code is exactly same as demo code shared by you.
we observed a strange behaviour though:
1) I launch my web application on mobile Safari browser on iPhone/ iPad with iOS 12.2
2) go to the page requiring camera launch
3) It asks for "Camera permissions" I clicked on "Allow"
4) I logged out of my web app and am redirected

[2019-05-10 15:09] basst314 commented on #47
Thanks for all the details!
Wow, I just checked with my iPhone XS on iOS12.2 and I can reproduce the issue even on the demo page. For me, after asking for permissions the first time, it always shows the selfie-can, but I can‘t switch to the back cam with the toggle icon. The camera preview flashes briefly (tries to switch to back cam) but then lands on the selfie cam again.

I‘ll definitely look i

[2019-05-11 19:33] basst314 commented on #46
Hi @poojas17,

There shouldn‘t be a difference between incognito and normal browsing. If you have permissions to access the cam it should be fine.

Do you see any errors coming through the initError output of the component, or anything in the browser console?

When you try to trigger snapshots repeatedly, does it work sometimes? Or is it that when you encounter the error you are never able to trig

[2019-05-12 07:11] poojas17 commented on #46
Hi @basst314
This problem occurs when the pop up comes to "Allow/Block" camera switch.
There are no errors but there are console statements when the function is triggered.

Yes it works sometimes on some systems depending if the camera is allowed already. It appears to be permission issue on Chrome - If the user has "Allowed" already, the snap is triggered. However, if the user has "Ask" permissio

[2019-06-15 12:04] davidshen84 opened #48 "Support Angular 8"
Update to support Angular 8.

Current latest stable Angular version is **0.8.1**.

[2019-06-16 02:12] #48 closed

[2019-06-16 03:22] basst314 commented on #46
Hi @poojas17,
this really sounds weird. Can you share some of the console statements you are seeing?
However, if the demo is working fine for you in Chrome incognito, then it seems like it's something with your app. Make sure to run the app on a secure ´https://´ url.

Can you share a link to the app so that I can test it?

[2019-06-16 03:48] basst314 commented on #44
Hi @franz1023dfjr,

I released a new version (0.2.4) which has a new method to access the native video element. Checkout the `nativeVideoElement()` method on the webcam component.

Cheers!

[2019-06-16 03:48] #44 closed

[2019-06-16 03:49] basst314 commented on #47
Hi @ahimani123,

I just released a new version of this library (0.2.4) which fixes this issue.

Cheers!

[2019-06-16 03:49] #47 closed

[2019-06-16 04:06] basst314 commented on #32
Hi @peddikishore,

I found a better way to check for blocked camera access:

When the camera was blocked, the webcam component publishes a `WebcamInitError` through the `initError` EventEmitter. While checking for the message is probably not a good practice (message might change), according to [Mozilla Docs](https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia), the `name` at

[2019-06-16 04:06] #32 closed

[2019-06-20 22:35] Reda1000 commented on #38
Hi guys,

I just added some functionality that might be similar to your request - video capturing support with webm-mediatype (no audio).

I am not fully happy with the code since it requires "whammy" and possibly doesnt meet the code quality of this project.

Please have a look on pull draft: https://github.com/basst314/ngx-webcam/pull/51 an tell me how to improve.

[2019-06-25 08:09] phil123456 opened #52 "32 vulnerabilities and breaking angular 7 project"
everything in the title

[2019-06-25 08:22] basst314 commented on #52
Hi @phil123456
Can you give some more details about the issues you‘re experiencing?
Thanks

[2019-06-25 08:26] phil123456 commented on #52
something weird

I install the package, then it complains about 32 vulnerabilities
I do an audit fix, there are like 21 vulnerabilities remaining then not possible to start the application anymore

some weird error :

`Data path ".builders['app-shell']" should have required property 'class'.`

the only solution was to recreate the angular project with angular CLI

yet even doing so, I have 3 unsol

[2019-06-25 08:42] phil123456 commented on #52
I made a new project from scratch

[code]

I sugest not doing the audit fix, it works that way

[2019-06-25 15:16] basst314 commented on #52
But the vulnerabilities show up before you even add the ngx-webcam lib, right?

[2019-06-25 15:21] basst314 commented on #52
What angular versions are you using?

[2019-06-25 21:11] phil123456 commented on #52
yep it appears to be an angular problem , not ngx-webcam, I could make everything work fine
[code]

[2019-06-26 00:53] basst314 commented on #52
Okay, thanks. I will resolve this issue then.

[2019-06-26 00:53] #52 closed

[2019-06-26 00:57] basst314 commented on #46
No response from requestor. Closing this issue.
If the issue persists, feel free to reopen.

[2019-06-26 00:57] #46 closed

[2019-06-26 08:00] azeemkhalid04 opened #53 "Cam does not get off if we click "Take Picture" before cam is ready"
Thank you for creating great component. Initially I was facing issue that Cam was not switched off and it was resolved by implementing *ngIf="". However, great work from my QA team, they have created another scenario and reported it again :-)

If user clicks on "Take Picture" before the cam is ready (i.e. A black screen appears while cam is getting ready and user clicks on button immediately), the

[2019-07-02 03:56] basst314 commented on #53
Hi @azeemkhalid04,

You could try waiting for the ’cameraSwitched’ event. It should fire after a camera has been initialized. This should happen after the user gave permissions.

Let me know if that works for you.

[2019-07-09 06:33] azeemkhalid04 commented on #53
Hi @basst314 ,

Thanks for solution. It worked for me.

[2019-07-09 06:39] basst314 commented on #53
Thanks for letting me know! I‘m glad it worked for you!

[2019-07-09 06:39] #53 closed

[2019-07-12 07:27] ghwrivas opened #54 "starting video failed in ubuntu and firefox 68.0"
in ubuntu 16.04.6
firefox 68.0 (64bits)

do not working and show this message:
{ "message": "Starting video failed", "mediaStreamError": {} }

[2019-07-12 07:44] #54 closed

[2019-07-12 07:46] ghwrivas commented on #54
It happens when I open multiple browsers using the same webcam

[2019-07-15 11:43] mamoyko opened #55 "Default Rear Camera View"
Is there anyway to change the camera source into rear view as default?

Thanks for helping

[2019-07-18 06:52] shubhluv opened #56 "ngx-webcam"
public handleInitError(error: WebcamInitError): void {
    if (error.mediaStreamError && error.mediaStreamError.name === "NotAllowedError") {
      this.toastrService.error("Camera access was not allowed by user!");
    }
  }

how to access webcam??

[2019-07-18 06:58] #56 closed

[2019-07-26 07:00] yuveliremil opened #57 "How change buttons text ? Can use angular material buttons?"

[2019-07-26 07:03] #57 closed

[2019-07-31 13:47] therockerline opened #58 "DOMException: The play() request was interrupted"
DOMException: The play() request was interrupted
possible fix: https://developers.google.com/web/updates/2017/06/play-request-was-interrupted

[2019-07-31 15:19] basst314 commented on #58
Hi @therockerline,

Thanks for raising this.
Can you provide some example code that reproduces the error?
Can you also give some more info about what you‘re doing that‘s causing the error?
What‘s the impact if the error occures?

Thanks

[2019-08-07 01:13] sinh-idnow opened #59 "Can't set default camera to rear camera"
I want to set rear camera as default camera when user access my web via their phone. I try to set facingMode in videoOption, follow description from [this page](https://developer.mozilla.org/en-US/docs/Web/API/MediaTrackConstraints/facingMode):
[code]
[code]
But there are nothing happen :(. Now, I try to switch camera base on `MediaDeviceInfo.label` but this is not good solution because we should

[2019-08-09 16:09] basst314 commented on #59
Hi @sinh-idnow,

Thanks for raising this.
You‘re right, currently the only way to pass in your requirements is to pass in MediaTrackConstraints through videoOptions.

Instead of specifying facingMode:‘environment‘, have you tried using the more advanced properties of ConstraintDOMString?

https://developer.mozilla.org/en-US/docs/Web/API/ConstrainDOMString

Can you try using the ‚ideal‘ property of

[2019-08-09 16:14] basst314 commented on #55
Related to #59.

Can you try using the videoOptions input by specifying MediaTrackConstraints?
It has a ‚facingMode‘ property. Please also check the readme about the videoOptions property, there‘s a link to the MediaTrackConstraints docs.

Let me know if that helps.

Thanks!

[2019-08-18 05:57] basst314 commented on #55
Hi @mamoyko,

I was able to reproduce the issue. I fixed a glitch where user provided video constraints were not applied properly under some circumstances.
Fixed in version 0.2.6.

Specifying the preferred camera is possible through the videoOptions parameter, see Readme.

Cheers.

[2019-08-18 05:57] #55 closed

[2019-08-18 06:01] basst314 commented on #59
Hi @sinh-idnow,

I was able to reproduce the issue. I fixed a glitch where user provided video constraints were not applied properly under some circumstances. The issue appeared just on some devices and had to do with the amount of information the respective device/browser revealed about the available webcams.
Fixed in version 0.2.6 of this library.

I was able to control the facingMode with the p

[2019-08-18 06:01] #59 closed

[2019-08-22 18:33] andreygaidzel opened #61 "Camera flip"
On flag 'mirrorImage' you flip only css video, but not image. I fix it:

    const context2d = _canvas.getContext('2d');
    context2d.save();
    context2d.scale(-1, 1);
    context2d.drawImage(_video, _canvas.width * -1, 0, _canvas.width, _canvas.height);
    context2d.restore();

[2019-08-27 09:22] sagar2071995 opened #62 "controls are not showing"
when i am opening the page controls on webcam video are not displaying . i have to enable it by right click and show control option.

[2019-08-28 05:50] sagar2071995 commented on #62
controls means pause ,mute  ,full screen ,download this option are not displaying on webcam video.

[2019-08-29 09:34] jeneiro opened #63 "Production mode Issue"
ngx-webcam works on development mode perfectly using ng serve but when deployed on a server in production mode the webcam does not come on it shows the error across all browsers:
Error: Uncaught (in promise): enumerateDevices() not supported.

[2019-08-29 23:58] basst314 commented on #63
Hi @jeneiro,

Thanks for reaching out.

It seems that the browser you‘re using does not support the required webRTC/mediaDevice API.

What browser are you using?

Also, make sure to serve the app in a secure context over ’https://’.

Let me know if that helps.

[2019-08-30 00:00] basst314 commented on #63
Oh and try to see if this demo works for you: it uses a prod compiled version of the library:

https://basst314.github.io/ngx-webcam/?

[2019-08-30 00:03] basst314 commented on #62
Hi @sagar2071995,

This library does not provide options like this, so I guess whatever you‘ve seen was something else.

Let me know if that helps.

[2019-09-04 05:48] #62 closed

[2019-09-19 16:03] basst314 commented on #63
No response from requester, closing this issue.

[2019-09-19 16:03] #63 closed

[2019-09-19 16:11] basst314 commented on #61
Hi @andreygaidzel,

Thanks for raising this.
It has been an intentional decision to not mirror the captured image, since this aligns with common behavior in most smartphones today when taking a selfie.

Usually the preview is mirrored but the taken image is not. If required, app owners can easily mirror the emitted image.

I‘m closing this as it works as designed.

If you have any questions or con

[2019-09-19 16:11] #61 closed

[2019-10-09 00:19] sstriano commented on #41
I am seeing this same thing. Users are reporting that after they leave the route that has the webcam component, their camera is still recording, indicated by the little red flashing icon on the tab in chrome.

The view that uses the camera is super simple:
`import { Component, OnInit, HostListener, ViewChild, ElementRef } from '@angular/core';
import { MsalService } from '@azure/msal-angular';
imp

[2019-10-09 05:52] basst314 commented on #41
Hey @sstriano,

Do you have a minimal demo that shows this behaviour? I‘m having troubles reproducing. The camera should turn itself off after the component is destroyed (shutdown code is present in the component‘s onDestroy() method).

A minimal reproducible example would be great.

Do you know if the behaviour is specific to a browser? Does it only affect some of your users? Are they all using t

[2019-10-15 06:14] Arjun-Shinojiya commented on #61
@basst314 I am facing the same issue, the captured image is perfect but when I convert the base64 data into image then the captured image showing flip. Is there any way to get captured image without any flip?

[2019-10-15 06:27] andreygaidzel commented on #61
I copy library code and costomize it with code on the previos message, because this library flip only CSS, but image dont changed. (sorry my ENG)

[2019-10-15 06:40] Arjun-Shinojiya commented on #61
@andreygaidzel Do you know any other way to stop the image from getting flip? because I cant do change in the library. If there is no other way then please let me know the line or the function in which I should as your code.Thank you

[2019-10-27 06:03] tgomezc opened #64 "Is it possible to add a simple turn on/off torch feature?"
While the library is very complete and easy to use i think this is a good feature that is missing.

[2019-12-05 15:48] dgraceffa opened #65 "Adding box inside camera"
Hi,
I'm using your library to collect car-plate images for an OCR service.
It would be great having a box in the view when the camera is opened where the content has to be to help the user fixing in the centre only the car plate.
Is this already a possible feature in the library or will it be available in the future?
Regards in advance #

[2019-12-06 11:33] IgorKurkov opened #66 "Can't setup maximum resolution per any device. How to receive avaiable Constraints per device?"
Hi!
Great package, Im really excited!
But I have some troubles with different devices about width and height.
First of all, how I can set maximum available supported constraints? I see
We can get some data from `navigator.mediaDevices.getSupportedConstraints();` but where I need to set them? I get an error in `ngx-webcam` "some problem".
I see you have made interfaces for video options so I can se

[2019-12-08 04:43] pkasidit opened #67 "Can not set [class] attribute."
I need to set style to video element. I see class on that element but can not set by [class].

[2020-01-13 21:47] ganholete commented on #67
Me too

[2020-01-31 17:25] rluckez commented on #41
@basst314 I'am facing the same issue, i'am using a modal from ngx-bootstrap with ngx-webcam.
When user user close the modal, it is destroyed, but webcam still recording and chrome continues showing the red icon on tab. I'll investigate more, to try to get whats is going wrong.

[2020-02-11 11:09] sagar2071995 commented on #67
@pkasidit  and @ganholete  you have to add following lines in your css
class_name .webcam-wrapper, .webcam-wrapper video {
    width: 100% !important;
    height: 100% !important;
}

[2020-02-11 11:11] sagar2071995 commented on #66
@IgorKurkov  you have to add following lines in your css
webcam-container .webcam-wrapper, .webcam-wrapper video {
    width: 100% !important;
    height: 100% !important;
}

[2020-02-12 16:54] andrejm7 opened #69 "suporte angular 9"
npm WARN ngx-webcam@0.2.6 requires a peer of @angular/core@^4.0.0 || ^5.0.0 || ^6.0.0 || ^7.0.0 || ^8.0.0 but none is installed. You must install peer dependencies yourself.

[2020-02-24 14:28] Farry1 commented on #64
I am also very interested in this feature. Did you come up with something already?

[2020-02-24 19:17] bobbydowling commented on #69
It works fine in Ng9.  Just ignore the warning for now.

[2020-02-27 12:20] mspace commented on #14
@Ikpeba4ll  I can confirm this behaviour too.
If accessed via https, it asks for permission. If accessed via http I get 'Cannot read UserMedia from MediaDevices'

[2020-02-27 17:18] bobbydowling commented on #41
Same here

[2020-02-27 19:46] basst314 commented on #41
Hi @bobbydowling cab you provide more details about what you‘re experiencing and how you integrate with the webcam component?
Do you have a minimal demo that showcases the experience?
Does it happen in all browsers or only a specific one? Are all users affected? Does it happen always?

Have you tried adding an ng-if to the webcam component and set it to false if you want the webcam to disappear?

[2020-02-27 19:52] bobbydowling commented on #41
I created an ""ImageUpload" component that I load with the Material Dialog component.

In that component, I merely copied the code from your demo, so it is already using ng-if.

When the Dialog is closed and also on Destroy, which happens when the dialog is closed, I set ng-if to falsey.  I also unsubscribe from the Trigger subject, just in case.

This happens using the Safari browser on an iPhone

[2020-02-28 14:04] carlosabud commented on #64
Same here. Does anybody know anything about this feature?

[2020-02-28 21:30] bobbydowling commented on #41
It's this:

https://github.com/primefaces/primeng/issues/6216

There appears to be nothing I can do to manually kill the inner Component.

I would need a way to manually kill your component... and ngif is not working.

[2020-03-05 00:15] vanlot opened #70 "ngx-camera is not working on IPad/IOS (Chrome and Safari browsers) in angular 9"
Hi Team,

Are there any ways to make ngx-camera to work in Chrome and Sarafi browsers of IOS (Ipad) when upgrading to angular 9?. After I upgraded angular 7 to angular 9, then it does not work on those browsers of IOS (IPad), although it works well on Chrome of Android.

Thank you

[2020-03-05 10:38] tbatsenko commented on #39
Hi,

I'm experiencing the same issue.
version of ngx-webcam: ^0.2.6

[code]

 exact error message:
[code]

The minimal example to reproduce:
- install @angular/cli": "1.4.10",
- create a new app with ng new myapp
- insert import WebcamModule to your NgModule file
- insert <webcam> tag somewhere in your html
- run ng serve, if runs ok, terminate and try to run again

[2020-03-05 10:38] tbatsenko opened #71 "Error: Metadata version mismatch for module"
Hi,

I'm experiencing the same issue.
version of ngx-webcam: ^0.2.6

[code]

 exact error message:
[code]

The minimal example to reproduce:
- install @angular/cli": "1.4.10",
- create a new app with ng new myapp
- insert import WebcamModule to your NgModule file
- insert <webcam> tag somewhere in your html
- run ng serve, if runs ok, terminate and try to run again

_Originally posted by @tbatsenk

[2020-03-18 01:51] andrejm7 commented on #69
update bro

[2020-03-22 04:12] basst314 commented on #69
Upgraded to support Angular 9, Typescript >= 3.7 in a new release (0.3.0).

[2020-03-22 04:12] #69 closed

[2020-03-22 04:15] basst314 commented on #71
Hi @tbatsenko,

I released a new version of the library (0.3.0) that bumps Typescript to >=3.7 (Angular 9).
Please update your App to the latest Angular version and try with the latest version of this library.

Thanks

[2020-03-22 04:18] basst314 commented on #70
Hi @vanlot,

I've released a new version of this library (0.3.0) that bumps Angular to 9 and Typescript to >= 3.7.

Please try with this version and let me know if it resolves your issue.
Generally speaking, the library should work fine on iOS. I've tested the Live Demo page on my iPhone and it works fine.
Does the demo page run for you on your iPad?

Please also check that you're serving your App

[2020-03-22 04:20] basst314 commented on #65
You could just use css to place another element ("box") on top of the webcam view to indicate where users should place their object. The webcam component is generic and does not support this custom behavior.
If you have further questions feel free to re-open this issue or a new one.
Thanks.

[2020-03-22 04:20] #65 closed

[2020-03-22 04:21] bobbydowling commented on #41
I provided more info... what do you think?

[2020-03-22 04:21] basst314 commented on #64
Thanks for pushing for this. While the webcam component itself can be "disabled" by using `ng-if` and conditionally (not) rendering it, the component does not currently have a dedicated on/off switch.

I will put that on my todo list for future versions.

Does conditional rendering work for you as a workaround?

[2020-03-22 21:57] basst314 commented on #41
Hi @bobbydowling,

it seems like Safari still indicates if the active page has permissions or was using WebRTC, even if the camera is no longer active.

I found that the experience is the same when testing this official WebRTC demo on iPhone+Safari.
https://webrtc.github.io/samples/src/content/getusermedia/resolution/

First try selecting a resolution that the iPhone camera can support (e.g. HD),

[2020-03-22 22:11] vanlot commented on #70
Hi @basst314,

Thank you for your update, it is working on Safari now, but unfortunately, it seems does not work on Chrome (IPad). Your live demo shows error message: "enumerateDevices() not supported" and "Cannot read UserMedia from MediaDevices".

Kind regards,
Van Lot

[2020-03-23 04:30] basst314 commented on #70
Hi @vanlot,

Thanks for confirming!

Unfortunately WKWebKit based browsers like Chrome on iOS can not access the necessary WebRTC/UserMedia APIs because they are currently not made accessible by Apple (yet).

See this for details:
https://bugs.webkit.org/show_bug.cgi?id=208667
and
https://bugs.chromium.org/p/chromium/issues/detail?id=752458

Hopefully Apple will fix this issue soon, until then onl

[2020-03-23 04:30] #70 closed

[2020-03-23 06:35] vanlot commented on #70
Hi @basst314,

Yes, thank you for your explanation!

[2020-03-23 13:40] mspace opened #74 "How to detect available webcamera(s) before webcamera video component is visibile?"
I'm using next code:

[code]

and my WebCameraComponent.ts

[code]

Camera stream is opened in popup (bootstrap modal-dialog), but in case camera can not be accessed (i.e. not attached, any other reason), I hide **webcam** with *ngIf. What happens is that user sees for a moment how window resizes. I want to prevent that.

Is there a way to initialize **webcam** programatically and then show <video

[2020-03-23 13:48] mspace commented on #74
Is perhaps using **WebcamUtil.getAvailableVideoInputs()** this the solution?

[code]

[2020-03-24 07:18] mspace commented on #67
If using angular, I solved it like this:

[code]
@Component({
  encapsulation: ViewEncapsulation.None,
[code]

[2020-03-29 18:33] carlosabud commented on #64
I think we are referring to different things.

We are asking (or maybe requesting) for a camera torch or camera flash functionality.

[2020-03-30 02:57] basst314 commented on #64
Hi @carlosabud,

Thanks for clarifying! That sounds like an exciting feature! Will do some research and get back to you all here.

Cheers!

[2020-04-27 19:31] ArcSoul opened #76 "Angular universal, turn off camera"
Hi there, I had a problem with my boss that the camera kept on even when the component was destroyed with ng if, so I used the old ways to proceed with the total shutdown of the camera and delete that recording icon from the tab, I expose the method I use.

[code]

[2020-04-27 19:31] #76 closed

[2020-04-30 03:09] luoxiao-xy opened #77 "Error after introducing webcam"
"@angular/cli": "~9.1.3",
"typescript": "~3.8.3"
"rxjs": "~6.5.4",

ERROR in node_modules/ngx-webcam/src/app/modules/webcam/webcam.module.d.ts:1:22 - error NG6002: Appears in the NgModule.imports of DocDeviceModule, but could not be resolved to an NgModule class.

This likely means that the library (ngx-webcam) which declares WebcamModule has not been processed correctly by ngcc, or is not compati

[2020-04-30 03:24] #77 closed

[2020-05-18 01:11] #71 closed

[2020-05-18 01:11] basst314 commented on #71
Closing this issue as it should be fixed by latest release.

[2020-06-22 09:49] ashish-markelytics opened #80 "Camera is not released web we unload component from HTML."
I am using code like this.
`<webcam [switchCamera]="videoDeviceChange$"
     *ngIf = "!isVideoMute && isPermissionGranted" >
 </webcam>`

When i mute or unload this component. camera light is still on.

[2020-06-23 15:27] farhaan008 opened #81 "There is no pause & play webcam option."
After image capture i want to pause webcam for a moment meanwhile call a rest api (to verify face present in image) so in case of failure want to play webcam again for recapture.

[2020-06-24 19:31] jbistis commented on #81
Something like this works...`  <webcam *ngIf="(webCameraEnabled && !!!haveImage); else elseBlock" [trigger]="triggerObservable"
    (imageCapture)="handleImage($event)" [allowCameraSwitch]="allowCameraSwitch"
    [imageQuality]="1" (initError)="handleInitError($event)"></webcam>
  <div *ngIf="!webCameraEnabled">{{initErrorMsg}}</div>
  <ng-template #elseBlock>
    <img [src]="webcamImage.imageAsDa

[2020-06-24 21:17] jbistis opened #82 "How to extract an image file type File?"
I am trying to extract an image file from the captured WebcamImage to save it to a storage bucket.  Has anyone accomplished that?

[2020-06-25 02:58] basst314 commented on #82
Hi @jbistis

WebcamImage contains a method to extract the base64 encoded image data:
https://github.com/basst314/ngx-webcam/blob/master/src/app/modules/webcam/domain/webcam-image.ts#L32

You can then process and store as desired.

Cheers

[2020-06-25 13:17] jbistis commented on #82
Thanks, any hints on how to convert imageAsBase64 output to an image File object?  I tried a few methods (// https://stackblitz.com/edit/angular-yzq2o7) and none working.

[2020-06-25 15:35] jbistis commented on #82
Hi @basst314, it working, can close the issue.  Thanks

[2020-06-25 15:35] #82 closed

[2020-07-08 09:48] shajirhaider commented on #67
I have solved it with this

` ::ng-deep  .webcam-container .webcam-wrapper, .webcam-wrapper video {
        width: 100% !important;
        height: 100% !important;
      }`
you need to put it on the style file of the component where you are using it

[2020-07-13 06:09] siir commented on #74
First off, I don't think you need to do anything beforehand. I'll give you an option to check the initError output response of ngx-webcam, and something you can do to do yourself beforehand if that is what you really want to do.

### Option One

There is an error type returned for no video devices found from this package. `WebcamInitError` class has a mediaStreamError property (type DOMError) that

[2020-07-18 05:08] davidshen84 opened #86 "Upgrade to support Angular 10"

[2020-07-18 19:29] sagarwasule commented on #64
Any solution for this feature ?

[2020-07-20 11:00] beyondtheobservableuniverse commented on #58
Hi
I get the same error when i call this.nextWebcam.next(deviceId) in Xiaomi redmi note 5: `Uncaught (in promise) DOMException: The play() request was interrupted by a new load request. https://goo.gl/LdLk22` Please fix this error.

[2020-07-28 22:05] siva-saripilli commented on #21
Hi @basst314

I've implemented a webcam snapshot feature in one of the Angular 9 application I'm working on. I've set a 3:4 aspect ratio so as users can take passport photo type photos from webcam. I've set the options as -

public get videoOptions(): MediaTrackConstraints {
    const result: MediaTrackConstraints = {};
    if (this.facingMode && this.facingMode !== '') {
        result.facingMode

[2020-08-01 18:31] WouterWidgets commented on #66
A bit late, but I got it to work by adding this attribute to the `webcam` component instance in my template:
```[videoOptions]="{width: {min: 1280, ideal: 1920}, height: {min: 720, ideal: 1080}}"```

[2020-08-03 06:43] IgorKurkov commented on #66
Great! Thank you!!

[2020-08-03 16:33] lawaldare opened #89 "Can't bind to 'switchCamera' since it isn't a known property of 'webcam'."
core.js:12478 Can't bind to 'switchCamera' since it isn't a known property of 'webcam'.
core.js:12478 Can't bind to 'trigger' since it isn't a known property of 'webcam'.

I have been having this warning error in the console and the webcam is not working at all

[2020-08-03 17:35] basst314 commented on #89
Hi @lawaldare
Could you share your code, how you have added the webcam component to your page?
Also, checkout the Readme for further usage information.
Thanks!

[2020-08-03 17:46] lawaldare commented on #89
`<webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
                    [imageQuality]="1" (initError)="handleInitError($event)"></webcam>
                <br />
                <button class="actionBtn" (click)="triggerSnapshot();">Take A Snapshot</button>
                <div class="snapshot" *ngIf="webcamImage">
                    <h2>Nice o

[2020-08-03 18:13] basst314 commented on #89
Hmm, seems to be okay. Can you compare your code and inclusion in AppModule to this demo project?
https://github.com/basst314/ngx-webcam-demo/tree/master/src/app
You can also try copying this code into your project to see if it makes a difference.

Also, what happens if you only add `<webcam></webcam>` without any properties?

[2020-08-03 18:26] lawaldare commented on #89
Yes, thanks it's working now. I wasn't importing it in the right module. I thought importing it in the App module will make it work anywhere in the component but I had to import it in the closest module of the component. Thanks

[2020-08-03 18:37] basst314 commented on #89
Glad you got it fixed!

[2020-08-03 18:37] #89 closed

[2020-09-08 15:55] blairjanis opened #91 "Working with Portrait/Landscape Mode in mobile devices"
The description states that the package supports portrait and landscape modes but I've been unable to find documentation on how it is supported.  With some pretty intense testing and experimenting I have been able to figure out how to get the camera to get the camera into portrait mode.  It's kind of confusing but if I do the following with video options it seems to work ... sort of.

`  public vi

[2020-09-08 23:28] blairjanis commented on #91
After a ton of research I learned that the best way to capture an image on mobile is to use `<input type="file" accept="image/*">`.  Mobile devices use whatever default behavior is needed to control the size of the camera and other behaviors such as choosing an existing image or taking a photo.  So while I'm still using ngx-webcam for some other use cases I don't need it for this one.

[2020-09-08 23:28] #91 closed

[2020-09-24 06:09] haiquangtran opened #92 "Zooming capabilities"
Is it possible to have zooming capabilities on the camera?

For example, when it opens up the camera, I will be able to pinch zoom, or controls that zoom in or out.

[2020-09-24 19:14] jonnysamps commented on #58
I get this same issue when switching between pages that would play different cameras. I'd be happy to submit a PR on this but from the looks of the other PRs they aren't getting much attention.  Let me know if you want help on this issue.

[2020-09-25 08:41] LittleSisterMogu opened #93 "Sorry"

[2020-09-25 09:18] LittleSisterMogu commented on #93
hahaha .......

[2020-09-25 09:19] #93 closed

[2020-09-26 19:13] Nitin1121 commented on #8
We cant get the camera width & height to entire screen size by using the above mentioned code...We cant able to modify its dimension by using css it doesnt get applied ...can someone suggest any ways to get it fullscreen

[2020-09-26 19:48] Nitin1121 commented on #66
Hi guys,
Can someone help me to set the webcam view needs to be by the device as full-screen width/height whether it is laptop or mobile .
This is my code in  the html
    <webcam [height]="height" [width]="width" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
    [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="{w

[2020-09-29 05:29] AnkitMaheshwariIn commented on #38
Addition to record video - if A custom HTML overlayon camera preview comes would be better.
Example: scores displaying in live matches streaming.

[2020-10-03 13:56] andrejm7 opened #94 "ERROR TypeError: a.Subject is not a constructor"
Hello my friend.

in production I am having this error ..

ERROR TypeError: a.Subject is not a constructor

it seems to me that it is in this code ..
  private trigger: Subject <void> = new Subject <void> ();

how can I solve?

[2020-10-06 01:07] andrejm7 commented on #94
are you going to fix it or can we leave the library?

[2020-10-06 01:07] andrejm7 commented on #94
@basst314

[2020-10-06 22:29] johangel commented on #41
Hi, so i was struggling throughout the day to make the webcam stop record after an ngIf="false" was triggered somewhere over the component and i got this solution:

1. keep the reference of the track after the output "cameraSwitched" emits the event;

  public cameraWasSwitched(deviceId: string): void {
        this.deviceId = deviceId;
        let constraints = {
            deviceId: deviceId,

[2020-10-13 13:25] ericpatrick opened #95 "Black screen on live-demo"
Hi,

I tried to open the live demo on my smartphone but I got a black screen on the component. This happen for both camera (front or rear). I noticed this don't happen on my desktop.

More info about my devices:

Smartphone:
Model: ASUS_X00TDB
Android version: 8.1.0
Chrome version: 86.0.4240.75

Desktop:
model: Dell Inspiron 14 3260 N4110
OS: Ubuntu 20.04
Chrome version: 83.0.4103.116

[2020-10-30 06:39] MrHOY opened #96 "Can't open camera"
I copy code from live demo and can't not open camera on my phone, browser show popup but I can't press Allow or Block
![image](https://user-images.githubusercontent.com/20653706/97668676-15ad1700-1ab5-11eb-9390-b10132f25f01.png)

Android: 10
Chrome: 86.0.4240.114

[2020-10-30 19:36] lipedeveloper opened #97 "Frame over the webcam - Problem with layout"
i am trying to add a frame but i would like to use pluing is there any way this can be done?

Example:
![image](https://user-images.githubusercontent.com/13943893/97749159-5749bc00-1acd-11eb-8bb7-3f0562d911c6.png)

in this example I'm using webcam pluing plus a floating div above with a photo with an opacity of 0.5

my real problem is when I use it on cell phones and mobile devices it breaks the e

[2020-11-04 19:08] fmipsylone commented on #95
Same issue on Chrome Android 86.0.4240.110 and Chrome Desktop 86.0.4240.183. No errors in DevTools.

[2020-11-04 19:10] fmipsylone commented on #96
Same issue on Chrome Android 86.0.4240.110 and Chrome Desktop 86.0.4240.183. No errors in DevTools.
It is the same issue as #95.

[2020-11-05 07:59] MrHOY commented on #96
@fmipsylone But it works well with Chrome: 86.0.4240.114 on Android 7. That's strange when I can't press any button on popup with Android 10

[2020-11-19 21:56] JaquesGF commented on #96
I have the same problem on my Mi A2, the camera is not displayed.
Chrome version: 86.0.4240.198

I installed firefox to work around the problem

[2020-11-20 18:08] fmipsylone commented on #96
At the conceptual phase I was looking for an easy solution, simple to adapt to some needs to not have to reinvent the wheel.
As sample I needed ImageData of the picture, not a blob neither an ObjectDataUrl, and it seemed to give it.
So, I thought that I could use ngx-webcam as a third party dependency to take the picture and adapt it to my needs. But more than the issue we pointed here, there was

[2020-11-22 22:17] #86 closed

[2020-11-22 22:49] basst314 commented on #96
@MrHOY does the live demo here work for you?
https://basst314.github.io/ngx-webcam/?

[2020-11-22 22:50] basst314 commented on #96
@fmipsylone thanks for the information that you were able to fix it. What exactly was the issue and how did you fix it? Mind sharing the fix so that it can be added to this package?

Thanks!

[2020-11-22 22:58] basst314 commented on #95
@ericpatrick does the website ask for camera permissions?
Can you check what happens if you try to open this demo on your phone?
https://webrtc.github.io/samples/src/content/getusermedia/canvas/

[2020-11-23 02:43] MrHOY commented on #96
@basst314
I tried it. It work well on Android: 7 Chrome: 86.0.4240.114, but same problem on Android 10 as i said

[2020-11-23 04:51] basst314 commented on #96
@MrHOY is it the same issue with this demo?
https://webrtc.github.io/samples/src/content/getusermedia/canvas/

Same issue that you cannot click allow?

[2020-11-23 05:08] MrHOY commented on #96
**Yes**

**Yes** @basst314

[2020-11-23 05:15] basst314 commented on #96
Thanks for confirming @MrHOY
This seems to be an issue with this particular phone os and browser combination and is not specific to this library.

I‘m not sure at this point whether it is related to the OS behaving weirdly and not taking clicks for the Allow button or whether it‘s an issue with Chrome.

You could try with Firefox to see if it makes a difference.

Please let me know if that works.

[2020-11-23 06:48] MrHOY commented on #96
@basst314 Firefox works well,

It's strange, but there is nothing more we can do about it. Thank you for your support.

[2020-11-25 04:48] yamaha252 commented on #95
The same to me using mobile chrome 86.0.4240.198 on Xiaomi 5 Plus (or many other models but not all)
WebRTC demo works fine.
![Screenshot_2020-11-25-07-40-01-362_com android chrome](https://user-images.githubusercontent.com/4444068/100184417-468d3a00-2f03-11eb-813e-85f4f80cb5ae.jpg)
![Screenshot_2020-11-25-07-40-25-276_com android chrome](https://user-images.githubusercontent.com/4444068/100184424

[2020-11-25 07:11] surenred opened #98 "Webcam is not accessed when we deployed in server"
I have few Queries?

1. I developed an application using ngx-webcam it is working well in development stage but when I moved it to the server the webcam doesn't showed up. It Look for the webcam in the server and when I click capture image it capture's an image and show entire black.

2.  Is the build process  in normal ng build -prod or we need to use any package for the build purpose like packag

[2020-11-25 14:50] basst314 commented on #98
Hi @surenred,

Make sure the app is served on a secure location using https:// protocol (see Readme / Prerequisites).

Https is mandatory in order to allow browsers to access the userMedia / webcam APIs.

Cheers!

[2020-11-26 05:24] cooper-mj opened #100 "How to obtain image size?"
@basst314 - first and foremost, thanks for creating this awesome library. I'm using it in a project of mine, and I love it!

I've run into a small issue that I'm hoping you will be able to help me resolve. I am trying to send an image captured from the webcam to a server via an HTTP POST request. As I'm sending the image as a bytes string, however, I'm unable to decode it in the backend without kn

[2020-11-26 05:59] basst314 commented on #100
Hi @cooper-mj

To access the plain image as base64 data, use „imageAsBase64“ instead of „imageAsDataUrl“.
This will return the image as base64 encoded string. When you base64 decode the image on the backend you will end up with the image bytes.

Where do you need the image dimensions?

If you really need them, you can access „webcamImage.imageData“ which gives you access to the canvas image data o

[2020-11-26 06:03] cooper-mj commented on #100
Hi @basst314 - thank you so much for the prompt reply! And thank you for pointing out that I should be using the `imageAsBase64` encoding.

However, when I go to call `webcamImage.imageData.width`, I get that it is null - am I making a mistake in this call, or is this how it's supposed to be?

Thank you!

[2020-11-26 06:09] basst314 commented on #100
Hi @cooper-mj

Please check that you set „captureImageData“ to true when embedding the webcam component (see Readme).

Let me know if that helps.

[2020-11-26 06:14] cooper-mj commented on #100
That was it - thank you!!

[2020-11-26 07:19] basst314 commented on #100
Great, thanks for letting me know. I‘m resolving this issue.

[2020-11-26 07:19] #100 closed

[2020-11-26 12:20] surenred commented on #98
@basst314 Thank you. I tried with https it is working well and good.

[2020-11-26 12:20] #98 closed

[2020-12-01 10:07] tuminzee opened #101 "How is deviceId generated"
Is the deviceId generated by the library unique to all the devices?
Is is dependent on the physical id of the device?

[2020-12-01 15:33] basst314 commented on #101
Hi @tuminzee

The deviceId is not generated by the library. It is returned by the browser API when accessing the webcam stream.

The Mozilla docs make it clear:
https://developer.mozilla.org/en-US/docs/Web/API/MediaTrackConstraints/deviceId

Hope that helps.

Cheers!

[2020-12-01 15:33] #101 closed

[2020-12-01 15:34] tuminzee commented on #101
Thank you so much :smile:

[2020-12-03 17:38] mapys opened #102 "Portrait & Landscape mode on smartphones"
Hi!

I'm wondering if it's possible to force the user's video stream to landscape even if they are holding the phone in a portrait position.

Here's the expected outcome when I served the app on my desktop's browser.
The user's video stream - the one on the top - is on landscape
![Screenshot from 2020-12-04 01-27-48](https://user-images.githubusercontent.com/60381242/101066022-da7c9700-35d0-11eb-9

[2020-12-06 05:06] mapys commented on #102
I got it. I adjusted the width and media tracking constraints for smaller devices

[code]

[2020-12-06 05:06] #102 closed

[2020-12-14 07:49] rzlification opened #103 "camera preview on samsung tablet stretch/compress"
Hi,

I face some issue with certain devices only, in this case, samsung tablet 2016. where the camera preview and the image snap is stretch. but i tested the same code using huawei tablet, it works just fine.

attach is the screenshot of the device info and camera preview when using the live-demo of ngx-webcam.

![1607931023875](https://user-images.githubusercontent.com/16426302/102054508-83728f80

[2020-12-28 00:41] #96 closed

[2020-12-28 00:46] #74 closed

[2020-12-28 00:47] basst314 commented on #80
Hi @ashish-markelytics,

can you please try with the latest version of ngx-webcam and let me know if this issue still persists?

Thanks!

[2020-12-28 00:48] basst314 commented on #81
Hi @farhaan008,

this can be achieved by removing the webcam component from the page and displaying the captured image for a moment instead. If you need to re-capture, just add ngx-webcam again.

I'm resolving this issue. If your issue still persists, please feel free to reopen.

Thanks!

[2020-12-28 00:48] #81 closed

[2020-12-28 00:51] basst314 commented on #92
Hi @haiquangtran,

this is not currently supported. You might be able to achieve this using some custom CSS/JS to crop the camera live view and the captured image.

I'm resolving this issue and will put it on my 'features to implement' list.

Thanks!

[2020-12-28 00:51] #92 closed

[2020-12-28 00:53] basst314 commented on #94
Hi @andrejm7,

what version of Angular and ngx-webcam are you using? Please try with the latest version of ngx-webcam and let me know if the issue persists.

Also, please double check that you're having a supported version of `RxJs` in your package.json dependencies (see README/Prerequisites section).

Thanks!

[2020-12-28 00:56] basst314 commented on #97
Hi @lipedeveloper,

I have not tried anything like this before.
This sounds like something that could be solved with the right CSS snippet.

If you think it's an issue with the HTML rendered by the library, please elaborate what exactly is breaking and why do you think it's an issue with the library itself.

Thank you!

[2020-12-28 00:58] basst314 commented on #103
Hi @rzlification,

thanks for attaching the images! Could you elaborate what exactly the issue is?
In the images provided I see the live camera view, but do not understand what the issue is.

Thank you!

[2020-12-29 04:17] finzero commented on #95
i had this blank screen issue.
it's turn out my chrome is outdated on my MI A1
the blank screen gone after i update my chrome browser.

[2021-01-14 15:23] prosidney commented on #82
what did you do @jbistis ?

[2021-01-18 20:21] sowmyaatmpdash commented on #97
I have a similar requirement to add frame around the webcam and crop the image to get the frame i used below css
webcam video {

  outline: 5px solid green;
  outline-offset: -45px;

overflow: hidden;
 // border:2px solid blue;
margin:15px;
  //background-color: red;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  object-fit: cover;
 }
it shows the frame on the desktop chrome browser b

[2021-01-20 07:35] aakashguptaa opened #104 "Ivy Compatiblity issue"
This likely means that the library (ngx-webcam) which declares WebcamModule has not been processed correctly by ngcc, or is not compatible with Angular Ivy. Check if a newer version of the library is available, and update if so. Also consider checking with the library's authors to see if the library is expected to be compatible with Ivy.

[2021-01-20 08:00] aakashguptaa commented on #77
how were you able to resolve this error ?

[2021-01-25 08:52] #104 closed

[2021-01-27 21:53] KalpLathia opened #107 "Not working on http based websites but works on localhost"
Hi everyone,
I am implementing ngx-webcam(0.3.2) in my angular 11 project. It works fine while working on localhost, but its not working on live server. I dont know what went wrong. Please help me to figure it out as soon as possible.

Thanks.

[2021-01-28 06:42] basst314 commented on #107
Hi @KalpLathia,

Running on non-localhost domains requires https:// otherwise browsers block the necessary WebRTC APIs.

Please go theough the Readme.

Thanks!

[2021-01-28 06:43] basst314 commented on #94
Closing as no response from requester.

[2021-01-28 06:43] #94 closed

[2021-01-28 06:43] basst314 commented on #80
Closing as no response from requestor

[2021-01-28 06:43] #80 closed

[2021-01-28 06:46] basst314 commented on #107
Resolving, please re-open if issue persists.

[2021-01-28 06:46] #107 closed

[2021-01-28 08:28] KalpLathia commented on #107
Thanks @basst314 for this quick response I will check with https:// and let you know if the issue still persists.

[2021-01-31 14:29] midub opened #108 "Image taken has limited resolution by screen of device."
The canvas size is limited by screen size.
Maybe using ImageCapture API's method takePhoto() could resolve this issue.

![image](https://user-images.githubusercontent.com/37038617/106387179-d3a7b000-63d8-11eb-9ec0-21edd0dd2032.png)

Did you tried to achieve this before? I will try to do so, maybe you will get a pull request for this issue.

Thank you for response.
Michal

[2021-01-31 16:09] midub commented on #108
So, I figured out that It is not probably caused by the canvas. Anyway users say, that on some mobile phones the resolution is only 640x480 which is the default size of webcam component. Also ImageCapture API is still experimental.

[2021-02-01 15:27] christophe-andre opened #110 "Ivy compatibility"
Message during the compilation on Angular 12

This likely means that the library (ngx-webcam) which declares WebcamModule has not been processed correctly by ngcc

[2021-02-03 06:58] maxulm commented on #64
Also interested in such a feature!

[2021-02-05 09:54] b-mi commented on #9
But created images are still of size 640x480, so images has low quality. Would you enter functional sample code?

[2021-02-19 21:12] CColon1 opened #111 "Removing Webcam component freezes chrome on mobile"
Using Pixel 4xl but seen on other android devices also.
Chrome OS (latest as of today): 88.0.4324.181, but seen on previous versions also.

Hiding the webcam using *ngIf causes the browser to freeze. have to lock the phone and unlock to proceed.

To recreate use the demo app and toggle the webcam a few times.

[2021-02-19 22:59] CColon1 commented on #111
We were able to work around this issue by doing
`(this.childRef.nativeVideoElement as  HTMLVideoElement).pause();`
`(this.childRef.nativeVideoElement as  HTMLVideoElement).src = null;`

Before hiding the component.

[2021-02-20 12:37] janssensjeroen commented on #111
Same problem here. Chrome freezes on Pixel 3. Switching apps and returning to Chrome makes Chrome usable again.

[2021-02-22 17:57] janssensjeroen commented on #111
Workaround works for me as well. Thanks @CColon1

[2021-03-17 08:41] ccaseauSAG commented on #95
Is there any news on this ?

[2021-03-20 12:55] hpardess opened #113 "Failed to Capture Photo in production (minified - ng build)"
angular v10
ngx-webcam v^0.3.2

I have used ngx-webcam library to capture photo through webcam. It is working fine in my local when i run the project with `ng serve ` but it fails when I deploy the application to Apache server.
`ng build`

[2021-03-21 18:42] basst314 commented on #113
Hi @hpardess
What’s the exact issue/error you’re seeing? Make sure to run the app over https:// as with http:// browsers will not allow camera access

[2021-03-25 13:51] angroPowel opened #114 "Switching the camera will freeze the Chrome app on Android phone in the live demo."
Hi,

Device:
Samsung s20
Android 11
Chome 89.0.4389.105.

I have implemented ngx-webcam into my project. It works fine on PC, but on the phone the entire chrome app freezes if you try the "flip" camera button. Sometimes it works to flip the camera 2 or 3 times before it freezes, sometimes it freezes on the fist try.
Same issue if you use the "next webcam" button or the "flip" camera found on the i

[2021-04-07 08:47] EdithBirrer1 commented on #114
There is a possible connection to a Chromium bug: https://bugs.chromium.org/p/chromium/issues/detail?id=1183362
Has to do with camera ID - seemingly chromium code assumes the camera ID is identical to a 0-based index, but newer cameras use other numbers / strings as camera ID.

The above problem description does not give enough details to verify that really the Chromium bug is causing the freezing

[2021-04-07 12:49] angroPowel commented on #114
Is camera ID any different from Device ID? I checked on my Samsung s20, and I have 4 available video devices. Each of them have a device ID with a long string with 60+ charackters of both letters and numbers.

[2021-04-11 00:06] AlexElin commented on #41
@basst314 here's an example that reproduces the problem
https://stackblitz.com/edit/ngx-webcam-non-turned-off-camera-demo?file=src/app/app.component.ts
Steps to reproduce: see on the below animation
Most likely you will have to repeat several times to reporoduce it
![ngx_webcam](https://user-images.githubusercontent.com/13061803/114287817-bd6e3e00-9a72-11eb-83a6-9fe76986ddd5.gif)

[2021-04-12 14:53] sayedgt commented on #8
How to set focus distance? Any sample code will be appreciated.

[2021-04-20 10:22] Dravere commented on #114
The camera id is different from the device id. The camera id is the one used internally in Android. The developers have pushed a fix that is available in Chrome Canary. Feel free to try it out in Chrome Canary, here it fixed the problem. Apparently there is still an issue if the camera is connected externally. The pushed fix in Canary only works with internal cameras.

[2021-04-20 10:35] angroPowel commented on #114
Thank you for the tip. I tested it on Chrome Canary on my Android Phone and it worked. Do you have any idea of when this will be released in "normal" Chrome?

[2021-04-20 11:01] Dravere commented on #114
Sadly I don't have this information. I'd love to know that too.

[2021-05-10 10:26] angroPowel opened #121 "Environment cameras give black screen on Samsung Note 10+ and S20 Ultra"
Hi,

in my project, and also when trying the live-demo, the "environment" cameras will just give a black screen on these models.
The front facing cameras works, but when switching to the environment cameras the screen goes black. None of the environment cameras work.

Under messages in the live demo, it only says:
{ "messages": "Could not start video source", "mediaStreamError": {} }

I have teste

[2021-05-13 17:35] AlexElin commented on #41
@basst314 I think there's a sense to reopen this issue because there's a reproducable example above

[2021-06-14 06:37] intotecho commented on #65
I agree it is a common and useful use case. Here is my workaround to draw an SVG over the video
See https://stackoverflow.com/a/46318225/2023941 for the positioning of box div over the first.
Use something like this in the template

[code]

And in the component:

[code]
In a **global** stylesheet, you can add a frame around the video element.

[code]

[2021-06-17 06:27] kishoreaoe commented on #76
@ArcSoul , is this working fine.. could you please advise.. so can implement in my project as well.

[2021-06-17 07:30] kishoreaoe commented on #82
@prosidney , we can convert the same to file object with help of below code logic, and send as multipart form data to your backend apis.

  handleCapturedImage(webcamImage: WebcamImage) {

    const arr = this.webcamImage.imageAsDataUrl.split(",");
    const mime = arr[0].match(/:(.*?);/)[1];
    const bstr = atob(arr[1]);
    let n = bstr.length;
    const u8arr = new Uint8Array(n);
    while (n-

[2021-08-23 10:01] ofsonmez opened #126 "For Angular4 compatibility"
Please make version: 3 at the ngx-webcam.metadata.json where package version 0.2.6....

[2021-08-24 15:55] lava0208 opened #128 "Type 'null' is not assignable to type 'WebcamImage'"
https://ibb.co/TcPSL6b

In app.component.ts I imported WebcamImage.

import {WebcamImage} from 'ngx-webcam';

As like the tutorial when I use this WebcamImage as public , it returns this error.

Type 'null' is not assignable to type 'WebcamImage'

what is the reason of this error?

Total code in here.

import { Component } from '@angular/core';
import {Subject, Observable} from 'rxjs';
import {Web

[2021-08-25 13:43] mtss92 commented on #113
Hi
I have the same problem but I get no errors.

[code]
[code]

[code]

After I served it:
$> http-server .\dist\
Starting up http-server, serving .\dist\
Available on:
  http://172.17.47.17:8080
  http://192.168.1.9:8080
  http://192.168.152.1:8080
  http://192.168.58.1:8080
  http://127.0.0.1:8080

The browser only asked me for the camera permission on the last address:  http://127.0.0.1:8080
An

[2021-08-25 14:07] mtss92 commented on #113
I solved my problem with the ssl:

$> http-server .\dist\ -S -C .\ssl\cert.pem -K .\ssl\key.pem
Starting up http-server, serving .\dist\ through https
Available on:
  https://172.17.47.17:8080
  https://192.168.1.9:8080
  https://192.168.152.1:8080
  https://192.168.58.1:8080
  https://127.0.0.1:8080

The problem was resolved at all addresses.

[2021-09-03 07:26] assman opened #129 "CSP header breaks styling of the view"
After applying CSP headers to my app, the webcam view does not load properly. The browser complaints that the inline styles cannot be applied. How do we go about solving this? Is it the `webcam-wrapper`class that's causing this issue?

[2021-09-08 07:42] vasharma05 opened #130 "Replacement to MediaStreamError"
### What is this issue about?
This issue Is about the removal of `MediaStreamError` in typescript 4.4, as mentioned in https://github.com/microsoft/TypeScript-DOM-lib-generator/issues/1029. Since the file path https://github.com/basst314/ngx-webcam/blob/master/src/app/modules/webcam/domain/webcam-init-error.ts#L3.

Do look into the issue asap.
Waiting for a reply.

Thanks!

[2021-11-04 20:11] hisham commented on #130
+1. This comes up as an issue with Angular 13 now.

[2021-11-09 19:56] Mds92 commented on #130
The same problem

[2021-11-10 12:05] ChrisLoes commented on #130
same problem. Does anybody has a solution? :/

[2021-11-11 04:53] arkitektz-dev commented on #128
did you get that working?

[2021-11-11 12:02] vdnprasad commented on #130
Still getting same problem even I've used typescript 4.4 onward and below are my application using angular cli version
![ng_version](https://user-images.githubusercontent.com/16150973/141294810-1e67677f-0bc6-4568-b7d5-477e8551775e.PNG)

[2021-11-11 22:05] chriskinzel commented on #130
@ChrisLoes as a quick fix I added this to my typings.d.ts global types file.
[code]

[2021-11-12 08:51] ChrisLoes commented on #130
already fixed with #134, should only be merged.

[2021-11-15 07:39] alexrait commented on #130
For this to work, we need to add
export {}
at the top.
But it solved it for now, thank you.

[2021-11-17 17:30] KandarpRami174 commented on #130
"MediaStreamError" change to "EndOfStreamError"

this is work for me

[2021-11-19 18:00] AlexElin opened #137 "Is this project maintained or dead?"
@basst314 Is this project maintained or dead?

There're many open issues and PRs. However, the last release 0.3.2 has been made approx an year ago (23 Nov).
I don't see any activity, so I'm asking the above question.

[2021-11-21 09:33] beyondtheobservableuniverse commented on #130
How can i add this to Angular?

[2021-11-21 09:34] beyondtheobservableuniverse commented on #130
How can i add this to Angular?

[2021-11-22 22:05] chriskinzel commented on #130
@beyondtheobservableuniverse create a file `typings.d.ts` under your Angular project `src` directory and paste into there. Make sure your tsconfig is set to automatically include .d.ts files.

[2021-11-23 11:11] JGrancha commented on #137
I understand that yes, the project is not maintained because there is no activity and the person in charge does not answer

[2021-12-03 03:01] basst314 commented on #137
Hi @AlexElin and @JGrancha,
thanks for raising this issue. Please understand that I maintain this project mainly on weekends or other holidays. The best way to participate and help keep this project alive and up to date is by actively raising pull requests for bug fixes or other upgrades.
Thanks!

[2021-12-03 03:01] #137 closed

[2021-12-03 08:30] basst314 commented on #130
This has been fixed in #134 and is part of version 0.4.1 of this library. Please update to the latest version.

[2021-12-03 08:30] #130 closed

[2021-12-03 08:34] basst314 commented on #114
Hi @angroPowel,
Does this issue still happen with the latest version of this library (0.4.1)?

[2021-12-03 08:35] basst314 commented on #121
Hi @angroPowel,
does this issue still happen with the latest version of this library (0.4.1)?

[2021-12-03 08:37] basst314 commented on #113
Thanks for confirming @mtss92. Yes you have to serve the app on a secure context using https://. Otherwise the browser won‘t allow access to user media / webcam.
Closing this issue.

[2021-12-03 08:37] #113 closed

[2021-12-03 08:40] basst314 commented on #111
Hi @CColon1,
A fix to pause the video element on-destroy has been added in #106 and is part of release 0.4.1. Please try updating to this version of the library.
Thanks!

[2021-12-03 08:40] #111 closed

[2021-12-03 08:41] basst314 commented on #110
Hi @christophe-andre,
Please provide more information about the issue you‘re experiencing and the expected behavior. Thanks

[2021-12-03 17:30] basst314 commented on #129
Hi @assman, could you provide more information about the headers you‘re adding and the error message that you see regarding the styles?

[2021-12-03 17:31] basst314 commented on #126
Hi @ofsonmez, could you clarify what issue you‘re experiencing?

[2021-12-03 17:35] basst314 commented on #103
Closed as no response from requester.

[2021-12-03 17:35] #103 closed

[2021-12-03 17:42] basst314 commented on #58
Hi @therockerline, could you please verify if the issue still occurs with the latest version of this library (0.4.1)? Thanks

[2021-12-09 14:59] ofsonmez commented on #126
Hi @basst314 , I've solved the problem with upgrading angular version 4 to 5. Thamk u very much.

[2021-12-09 14:59] #126 closed

[2021-12-26 15:41] mbagusprasojo commented on #128
You need to turn off strictNullChecks in your tsconfig to ignore the null checking
OR
You can just define it like this
`public webcamImage: WebcamImage | undefined;`

Cheers

[2021-12-26 18:08] jbistis commented on #130
Does this 0.4.1 require a13?  If yes, is there a fix that does not require an upgrade to a13?  We are running 12.2.6 with 4.2.4.

[2021-12-26 18:53] jbistis commented on #130
basst314, I upgraded to a13.1.2 with typescript 4.5.4 and ngx-webcam 0.4.1.   I am still getting the error Cannot find name 'MediaStreamError'. Did you mean 'EndOfStreamError'?  What can I do to fix this?

[2021-12-26 22:26] jbistis opened #141 "Not all code paths return a value"
angular/cli 13.1.2 / typescript 4.5.4 / ngx-webcam 0.4.1
Getting 2 errors:
webcam.component.ts:151:6 - error TS7030: Not all code paths return a value.
`  private static getDeviceIdFromMediaStreamTrack(
    mediaStreamTrack: MediaStreamTrack
  ): string {
    if (
      mediaStreamTrack.getSettings &&
      mediaStreamTrack.getSettings() &&
      mediaStreamTrack.getSettings().deviceId
    ) {

[2021-12-30 03:15] #128 closed

[2021-12-30 03:26] basst314 commented on #141
Hi @jbistis,
this sounds like an issue caused by your linter. Can you share what linter you're using (e.g. ESLint) and if you have applied any specific rules (e.g. 'consistent-return')?
Thanks

[2021-12-30 23:01] jbistis commented on #141
Yes, thanks.   The update was to set  "noImplicitReturns": false per https://stackoverflow.com/questions/51446242/how-to-fix-the-issue-not-all-the-code-paths-return-value

[2022-02-04 20:28] TLKG opened #142 "After unsubscribe, seems camera is still active"
To utilize it:
[code]
After exiting the page, still shows
![image](https://user-images.githubusercontent.com/22269729/152597993-6198a14b-2e4b-44a8-a094-6232e114a0e7.png)

![image](https://user-images.githubusercontent.com/22269729/152598069-5228ce01-9961-4587-ba29-47768c31ddbd.png)

How to completely cancel this camera service?
[code]

[2022-02-15 15:51] albertocanca opened #145 "Portrait mode"
After some changes, the portrait mode doesn't work. What we have to do to take a screenshoot in portrait mode?

[2022-02-28 23:17] jakehockey10 commented on #41
We are also running into this issue.  Can we please reopen this and investigate?  How can I help?

[2022-03-01 06:57] nivarajkarnikar170 opened #146 "Camera view finder does not show up in ios"
On iphone pro max  ios 15.2.1, I am not able to see the webcam area (view finder) . On android devices and larger screens and laptops, it works fine.

I have the following versions:

angular cli 12.1.4
typescript 4.4.4
npm 8.1.3
ngx-webcam 0.3.2

I even separated out a sample app with nothing but just the webcam code no extra attributes like height, width, trigger etc
still was unable to see the w

[2022-03-01 17:18] jakehockey10 commented on #142
I'm seeing this too

[2022-03-21 18:12] Gomes81 commented on #121
Hi, I'm also experiencing this behavior on a Samsung Galaxy Tab A with the lib lastest version (0.4.1)
Does anyone have a fix for it?

[2022-05-11 21:36] josbol commented on #142
Same things here

[2022-05-12 14:36] RuledesignerSRL opened #151 "Can't set default camera to rear camera"
I have the same problem as described in issue #59,  I followed the directions for using MediaTrackConstraints and set the facingMode, but nothing happen. In order to write my code I took as a reference the example provided by you [here](https://github.com/basst314/ngx-webcam/blob/master/src/app/app.component.ts#L79)

`<webcam [height]="500" [width]="500"
            [trigger]="triggerObservable"

[2022-05-16 20:21] Fradviam opened #152 "It's possible to zoom in this plugin?"

[2022-05-17 13:43] Waregalias commented on #145
Same problem.

We see in readme > features "Portrait & Landscape mode on smartphones" but nothing in doc about it.

[2022-05-20 09:22] abySebastin95 commented on #38
Any update on this feature.  @basst314

[2022-06-08 07:45] NajibIbrahim commented on #151
// '**user' = front camera || 'environment' = rear camera**
facingMode = 'environment';

[code]

[2022-07-06 17:29] klauswiesel opened #154 "No source names in Firefox"
I am using the webcam contrrol and experience problems in Firefox [102.0.1 (64-bit)]

Using this code works in all other browsers:
`  ngAfterViewInit(): void {

    this.pollFunction = defer(() => from(WebcamUtil.getAvailableVideoInputs()));

    startPoll<any>(
      () => this.pollFunction,
      value => value && value.filter(item => !!item.deviceId).length > 0,
      {interval: 1000}
    ).pip

[2022-08-10 14:05] sebalr commented on #58
Hi @basst314, I can confirm this is still happening sometimes in 0.4.1

[2022-08-19 16:08] WillowRocha commented on #41
I  have the exact same problem of the example above! I've tried to apply the ngIf on wrapper div of the camera component, but the camera keeps open after the ngIf goes false and the dialog is closed.

[2022-09-02 15:54] WillowRocha commented on #41
Thanks! It helped me a lot!
My camera component is inside a modal, so I prevented the user to close the modal before the camera finish initializing or throwing an error. I emitted an event when the tracks are added (or an error had happened), to enable the modal to be closed. For me it worked!

I wrote it like this:
[code]

And the handleInitError would look like:
[code]

I've been working with An

[2022-09-13 18:56] kamilhawdziejuk commented on #142
Hi, not sure why first PR is waiting for such a long time. I faced that issue, too and executing
this.mediaStream.removeTrack(track);
really helps.

Unfortunately it does not resolve the issue always (there still might be some delay of turning camera off).
What worked in my case is to call
this.nextWebcam.complete();
on the code that closes camera connection (triggered in closeModal method in my c

[2022-09-19 20:25] kamilhawdziejuk commented on #41
What worked in my case is to apply fix to the webcam component itself (https://github.com/muhammad-usman-anwar/ngx-webcam/commit/20c6dc618f0c546938eae4aa6428458e662c9601) and in addition to this close the subject by calling:
this.nextWebcam.complete();
(I triggered it when closing modal window using this webcam).
Looks like it is a missing part of releasing resources when using webcam.

[2022-09-30 18:57] micabanfi opened #156 "Is it possible to ignore wide angle camaras?"
When i switch between camaras i get: front camara -> wide angle front camara -> back camara -> wide angle back camara. Is there a way to ignore the wide angle ones?

[2022-10-18 08:40] Dass1010 opened #157 "Video Record Not available!"

[2022-11-04 16:30] ILDEMONICO commented on #8
Is this workaround still valid? i'm trying to change component size according to an user event (i need to change from 16:9 aspect ratio to 1:1) but everytime i try to change the size, the video tag always set itself to maximum visible space with the aspect ratio setted in first instance reagrdless of any value i try to set

[2022-11-11 11:35] remarqUK commented on #146
I have the same issue, did you manage to fix it or is this project dead ?

[2022-11-16 20:02] KillianLu commented on #130
I think that was not fixed

[2022-11-29 10:19] shivangguptaa commented on #114
Is this error not resolved yet??